[2014-02-13 11:18] hawesie opened #1 "Define task message type"

[2014-02-13 11:18] hawesie opened #2 "Add service to register desired tasks with scheduler"

[2014-02-13 11:18] hawesie opened #3 "Create node for executing tasks"

[2014-04-04 16:29] hawesie commented on #3
Basic FIFO executor created by #4

[2014-04-04 16:29] #3 closed, assigned to nobody

[2014-04-04 16:29] hawesie commented on #2
First version of service added in #4. This does not go to the scheduler yet, but will do later.

[2014-04-04 16:29] #2 closed, assigned to nobody

[2014-04-04 16:30] hawesie commented on #1
Done in #4 but missing a few entries that will be added when the scheduler is put in.

[2014-04-04 16:30] #1 closed, assigned to nobody

[2014-04-04 16:31] hawesie opened #6 "Add C++ interface for task addition"
Currently only available in python, but should be reasonably simple to add the C++ example too.

[2014-04-04 16:32] hawesie opened #7 "Add pausing/preemption/removal to FIFO executor"
Currently there is no way to pause or remove tasks from the executor. Also there is no error handling or feedback monitoring. All these things need to be added for robust and useful execution.

[2014-04-07 19:00] RaresAmbrus opened #10 "Setting int parameters to action servers"
Is it possible to add other type of arguments to the action lib goal, like ints ? The methods in `strands_executive_msg.task_utils` seem to be only for adding strings and ros messages.

For example, in the action:
https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_ptu/action/PanTilt.action

the parameters are 6 ints.

[2014-04-07 19:25] hawesie commented on #10
It should be a trivial extension. I'll see what I can do.

[2014-04-07 20:21] RaresAmbrus commented on #10
Ok, thank you.

[2014-04-07 20:52] hawesie commented on #10
@RaresAmbrus have a look at #11 and see if it works for you.

[2014-04-07 21:03] RaresAmbrus commented on #10
Awesome, I think that should do it! I'll test it on the robot tomorrow morning. Thanks @hawesie

[2014-04-08 13:18] RaresAmbrus commented on #10
@hawesie I tested this out and it works. Can you please merge your branch to the strands repository?

[2014-04-08 13:47] #10 closed, assigned to nobody

[2014-04-11 16:23] hawesie opened #14 "Integrate scheduler"
Now @mudrole1's scheduler is now up and running I need to integrate it into the task execution system.

[2014-04-13 14:14] hawesie opened #15 "Get scheduled tasks to respect daily time bounds"

[2014-04-17 22:08] hawesie commented on #14
This was done in #16 although some bugs in the scheduler code remain.

[2014-04-17 22:08] #14 closed, assigned to hawesie

[2014-04-17 22:08] hawesie opened #17 "Add timeouts to base_executor.py"
The base executor should cancel an action when it takes longer than the max_duration stated in the task.

[2014-04-19 13:44] #15 closed, assigned to nobody

[2014-04-20 09:43] hawesie opened #19 "Launch file dependencies for tasks"
Some tasks require nodes to be running that

a) don't need to be running all the time
b) use up significant resources
c) take a noticeable time to start up

(vision, we're looking at you here)

The proposal is to allow the task executor to bring up and tear down a task's dependencies on demand. This is discussed in https://github.com/strands-project/strands_management/issues/52  and https://github

[2014-04-20 09:45] hawesie opened #20 "ROS msg type to describe a launch file and resulting topics"
Create a ROS msg type describing a run launch file plus the topics and services it must provide. This is required for #19.

[2014-04-20 09:54] hawesie commented on #19
roslaunch API, e.g. [http://docs.ros.org/groovy/api/roslaunch/html/roslaunch-pysrc.html](http://docs.ros.org/groovy/api/roslaunch/html/roslaunch-pysrc.html)

[2014-04-20 11:17] cburbridge commented on #20
I don't think we need a ROS message type for this. Why not add it in the
yaml file as I propose in
https://github.com/strands-project/strands_management/issues/52 ? I know
that you don't want to have the scheduler concerned about launch stuff, but
launching could still be an action. Just one that is not currently used for
scheduling.

On 20 April 2014 10:45, Nick Hawes notifications@github.com wro

[2014-04-20 12:36] hawesie commented on #20
See #19 - I agree we should make launch actions. And I'm very happy for tasks to be instantiated from launch files. The msg type is necessary because we are putting the same launch information into two  places -- the task and the goal for the action server -- so it is cleaner to adopt a type which encodes this information in a fixed format.

[2014-04-20 12:37] hawesie commented on #17
This can be based on the stated expected duration in the task.

[2014-04-24 15:26] mzillich opened #23 "missing dependencies"
needs libgmp3-dev

[2014-04-28 13:58] hawesie opened #25 "On demand tasks"
Add service for on demand tasks. This should immediately halt the execution of the current task and switch to the demanded task. If the previous tasks can be rescheduled to run after the on demand task then they should be, else they should be dropped.

[2014-04-28 14:07] hawesie opened #26 "Wait action"
Add an action to wait at a waypoint. Argument should be duration to wait for or a time to wait until, unless explicitly woken. This will be used by the go-to-safepoint task to wait at the safe point. It will provide a service to allow waking.

[2014-04-28 16:09] hawesie commented on #26
Added to strands_utils: https://github.com/strands-project/strands_utils/pull/81

[2014-04-28 16:11] hawesie opened #27 "Javascript display for current scheduler"
Create some javascript which can be used to display the robot's current schedule in a view on the [strands_webserver](https://github.com/strands-project/strands_ui/tree/master).

[2014-04-28 21:44] #26 closed, assigned to nobody

[2014-04-28 21:45] hawesie commented on #19
Tonight @Jailander volunteered to do this. Please can you do #20 too?

[2014-04-29 08:48] ToMadoRe commented on #23
this didn't work for me with rosdep install... I just did a fresh install of the strands_catkin_ws and it still required to `sudo apt-get install libgmp3-dev`.

[2014-04-29 15:38] hawesie opened #29 "Use travel duration in executor too."
Instead of...

[code]

[2014-04-29 19:46] #17 closed, assigned to nobody

[2014-04-30 18:39] hawesie opened #32 "On demand not working properly"
Check what happens if tasks take a long time to be cancelled.

[2014-04-30 18:39] hawesie opened #33 "Reject tasks with no max_duration field"
And check this.

[code]

[2014-05-06 21:14] hawesie opened #41 "Schedule tasks with no location"
This one's for @mudrole1. I'd like to schedule tasks with no location. Currently when the start node id is empty, your code just passes this on through the `DistWrapper`. Really there should be no distance included for these tasks. Is that possible? There is also the problem of what happens to the tasks that come after it as they can no longer take their start location from the end location of the

[2014-05-06 21:39] mudrole1 commented on #41
Generally, having task with no location is possible. I got an idea how to fix the issue mentioned by you. I will try tomorrow to apply that.

[2014-05-06 21:40] hawesie commented on #41
Cool, thanks.

[2014-05-07 15:00] mudrole1 commented on #41
We have discussed this with @BFALacerda and the most straightforward way is to take into account the worst travel distance.

How important is this? I can prepare my scheduler, but Bruno is busy with more important work until Friday.

[2014-05-07 15:08] bfalacerda commented on #41
@mudrole1  I just realized you can use the current dist function, call it for every pair of nodes, and calculate the max yourself. That would be as efficient as doing it on my side, at least until Dave Parker updates the prism API with some stuff I asked.

[2014-05-07 15:15] hawesie commented on #41
@mudrole1 if you can do this on your side as suggested, that would be great for now.

[2014-05-07 16:27] mudrole1 commented on #41
Yep, I have done it. The updated code is in my repository.  @hawesie Will you merge it with STRANDS or shall I do it? only scheduler.cpp and scipUser.cpp + their header files have changed.

Now it takes into account the worst case scenario as we discussed. I am computing the maximal dist for places only occuring in the current scheduling problem (not all the places), but my computation is done alw

[2014-05-07 21:55] hawesie opened #44 "Integrate roslaunch_axserver into base_executor.py"

[2014-05-07 21:55] hawesie opened #45 "Monitor navigation time in base_executor.py"
Get expected from from mdp service.

[2014-05-07 22:27] hawesie commented on #45
Already added mdp time info in my fork.

[2014-05-07 22:32] hawesie commented on #45
@BFALacerda will the expected time include the time take for recoveries etc.? In other words to I need to multiply expected time by number of attempts to allow monitored navigation a few attempts before preempting.

[2014-05-07 22:57] hawesie commented on #44
@marc-hanheide I'm not sure whether I can get this done in time to be useful. Can you call it manually from the game playing action server for now? Alternatively I might be able to get it done Thursday evening.

[2014-05-07 23:06] marc-hanheide commented on #44
That's what I'm at anyway. So yes

[2014-05-08 08:53] bfalacerda commented on #45
the expected time includes recoveries, no need to multiply it by anything.

However, it's better to get the expected time from the feedback of the mdp execution action server itself, to avoid calculating the same thing twice (three times if you count the time the scheduler asks for it also). Furthermore, the action feedback also takes into account the possible extra time that the addition of forbi

[2014-05-08 09:01] hawesie commented on #45
Ok, sounds good.

[2014-05-08 21:39] hawesie opened #47 "make base_executor thread safe"
There are a couple of potential conditions which could causes issues when the sub class is using multiple threads. I think i cleaned up most things for now, but for v2 we need some locking or something.

[2014-05-14 08:43] hawesie commented on #41
I still haven’t merged this as I didn’t want to charge the scheduler behaviour close to deployment unless really necessary.

[2014-05-14 20:23] hawesie commented on #45
Done

[2014-05-14 20:23] #45 closed, assigned to nobody

[2014-05-14 20:25] hawesie opened #57 "Unnecessary aborts from the MDP executor?"
@ToMadoRe reported a few of these:

[code]

They can occur when the human presses a button on the screen to send the robot to a particular point.

Can these happen when it really is possible to navigate between the two points? If so, I think it might be more robust to have a fallback position rather than aborting. This would make the robot more usable at AAF currently.

[2014-05-14 21:07] bfalacerda commented on #57
There is a bug there as it is outputting this too often in the early stages of deployment, I'll look into in tomorrow. However if the send robot somewhere button is preemptive the actions being executed and issuing a new navigation goal, it won't happen there. @ToMadoRe is this still happening at this point?

[2014-05-28 09:03] hawesie opened #61 "Add overall timeout to sm_executor"
Need to handle case where Concurrence preempts are not respected.

[2014-05-28 09:07] hawesie opened #62 "Exception handling in sm creation"
If action servers not present, exception is thrown and execution never continues.

[2014-06-13 10:18] hawesie commented on #32
This is mostly fixed with the new sm executor.

[2014-06-13 10:23] hawesie opened #63 "Merge in branches for sm executor and updated policy execution"
I'm quite confused on the final state of what needs to be merged back in here from the working system at g4s. We have  https://github.com/strands-project/strands_executive/pull/59 so is it just this?

[2014-06-13 12:51] bfalacerda commented on #63
i completely forgot about this open pull request and have been committing stuff that's not in the g4s working system meanwhile

Maybe the best option is to close #59, push the sm_executor branch you have running on bob somewhere and merge from it

[2014-06-13 13:17] hawesie commented on #63
ok.

[2014-06-13 13:33] hawesie commented on #63
Here's the push from Bob: https://github.com/strands-project/strands_executive/pull/64

Does that look ok to merge?

[2014-06-13 13:50] bfalacerda commented on #63
looks good yes

[2014-06-13 14:45] hawesie opened #65 "make mdp queries and execution thread safe"
Queries to the navigation mdp while execution is happening causes errors. This needs to be fixed so that the robot can execute policies independent of queries being received.

[2014-06-13 14:50] hawesie commented on #65
@BFALacerda

In `def travel_time_to_node_cb(self,req)` you have the following lines:

[code]

Are they actually necessary to respond to the query?

[2014-06-13 14:52] bfalacerda commented on #65
yes, PRISM reads the models from text files and this is needed to update the initial state in the text file

[2014-06-13 14:57] hawesie commented on #65
Ok, I understand it now.

So then I think the safest thing to do is refactor the node to create an object which wraps up an instance of TopMapMdp with a PrismClient so that we can have two instances of this object, one for querying and one for execution. We will then need to make sure both instances are updated when new information/times of day come in. We'd need to make the PrismClient port and a

[2014-06-13 15:14] bfalacerda commented on #65
I was thinking of  creating an MDPExecutor class with its own PrismClient, TopMapMdp and ProductMdp instances, and do what you're saying there. Then we would have a mdp_planner node used by the scheduler, and  a mdp_executor node used by the task executor. I don't have a real preference there though, so if you prefer your solution we can go for it. Both solutions require having a configurable port

[2014-06-13 15:15] hawesie commented on #65
You’re the expert here, so it’s your call! I think we should get this sorted early next week though if we can.

[2014-06-13 15:21] bfalacerda commented on #65
ok, it's doable by then

[2014-06-18 10:32] hawesie commented on #65
How’s this going?

[2014-06-18 11:20] bfalacerda commented on #65
I've been sidetracked by other issues, I'm putting my full attention on this now, should be ready tomorrow. Sorry about the delay...

[2014-06-19 19:56] bfalacerda commented on #65
see #66. I ended up following @hawesie 's suggestion, less messy for now

[2014-08-11 08:42] hawesie commented on #27
This was done.

[2014-08-11 08:42] #27 closed, assigned to nobody

[2014-08-11 08:43] hawesie commented on #25
Done ages ago.

[2014-08-11 08:43] #25 closed, assigned to nobody

[2014-08-11 08:43] #63 closed, assigned to bfalacerda

[2014-08-11 08:45] hawesie commented on #20
Created by @marc-hanheide

[2014-08-11 08:45] #20 closed, assigned to nobody

[2014-08-11 08:46] hawesie commented on #23
@mudrole1 did you make progress on this?

[2014-08-11 08:58] hawesie opened #75 "Fix strands_executive compilation so that Jenkins can build it"
The full long is here: https://gist.github.com/hawesie/227bcd3916260bb056d1#file-strands_executive-jenkins-error-1

The first error I see is :

[code]

@BFALacerda I think you've already looked at this, haven't you?

[2014-08-11 10:35] bfalacerda commented on #75
Not too much, I still don't know why this happens. What I know now is:
- This was happening when prism was updated, but only once. On the second day it would compile. I don't know why it's happening all the time now, I didn't change anything
- I googled this wrong version error a while ago, and it looks like it's a problem with java compiler versions. The .class files should all be generated by je

[2014-09-15 12:14] hawesie opened #77 "Create release branch"
This branch should be fully functional but not contain the mdp stuff as it is not ready for release.

[2014-09-15 12:15] hawesie opened #78 "Update docs"
Update docs as required for ros release.

[2014-09-15 12:16] hawesie commented on #7
FIFO executor should be resurrected for release as it is convenient for testing.

[2014-09-15 12:17] hawesie opened #79 "Add tests"
This repo needs some better tests to automatically check status.

[2014-09-15 16:10] hawesie opened #80 "Create meta-package"

[2014-09-15 19:28] OMARI1988 opened #81 "continuous_patrolling.py not working"
Hi,

I followed the instructions in here to run the continuous patrolling after I mapped the lab and inserted the topological waypoints into mongodb:

https://github.com/strands-project/strands_executive

but it doesn't work, it gives an error like this in task-scheduler.launch,

any advice ?

Cheers,
Muhannad
#

strands@strands-Mi956:~$ roslaunch task_executor task-scheduler.launch topological_ma

[2014-09-15 19:45] bfalacerda commented on #81
There are some prism processes that weren't killed properly and are using the ports. do `ps -ef | grep prism`and kill all the prism processes. That should do the trick.

This only happens when the process doesn't start properly, probably because you gave it a wrong topological map name on the first try. That's a problem I'll take care of next month, I know it's pretty annoying

[2014-09-15 22:06] hawesie commented on #81
I also don't think the continuous patrolling setup will work as the code has decayed a little bit since it was first written. You should still be able to add tasks to visit waypoints though.

[2014-09-16 11:36] OMARI1988 commented on #81
Ok, tasks to visit waypoints is working.

Thanks

On Mon, Sep 15, 2014 at 11:06 PM, Nick Hawes notifications@github.com
wrote:

[2014-09-18 08:32] #81 closed, assigned to nobody

[2014-10-16 13:40] ToMadoRe opened #83 "cannot find -lmessage_store"
This is due to

[code]

, which is in the CMakeLists.txt files of `cloud_merge` and `semantic map`

As @marc-hanheide mentioned on Gitter, explicitly linking the message_store is wong:
"that should already be resolved via ${catkin_LIBRARIES}
if the mongodb_store_cpp_clientis defined as a required dep in find_package(catkin REQUIRED COMPONENTS ... mongodb_store_cpp_client)
and we see it is, so just

[2014-10-22 23:01] marc-hanheide commented on #83
this works now

[2014-10-22 23:01] #83 closed, assigned to nobody

[2014-11-03 08:13] #77 closed, assigned to hawesie

[2014-11-03 08:13] #75 closed, assigned to nobody

[2014-11-03 08:14] #23 closed, assigned to mudrole1

[2014-11-03 08:31] hawesie opened #91 "Make the "distance" matrix an input to the the GetSchedule service"
To make the scheduler more portable I plan to make the matrix of durations of travel times between nodes an input to the GetSchedule service. I will remove DistWrapper from the scheduler and create DurationMatrix object which must be created before the Scheduler instance for the problem is created. @mudrole1 is this ok? Once I've done this then you will need to merge the changes into your own code

[2014-11-03 14:23] mudrole1 commented on #91
I have done something pretty similar in my code all ready... the method getMaxDist() in scheduler.cpp computes the max distance (which is needed later to solve the issues when the task has no location). As it needs to determine all the pairs, Im saving them to the 2D array, which Im using later in the code and Im not asking Bruno's stuff again. So, I think the change in my code will be pretty stra

[2014-11-03 15:02] hawesie commented on #91
Yep, I saw that. Ok, I’ll make this change soon.=

[2014-11-03 22:50] hawesie commented on #91
I'm looking at making the change, but I'm a bit confused with how you use `dist_a`. Should I understand `dist_a[i][j]` as the distance (duration of travel) between the end of task `i` and the start of task `j`?

[2014-11-04 10:14] mudrole1 commented on #91
i,j are just indexes referring to the order of tasks in set. So that tasksToS->at(i) will give you one task. This uses the fact that the order of tasks in the set doesnt change during one scheduling. However, as Im thinking about it now, we might want to do it in different way - your way, to use task, or its ID to refer in the array. (this will be useful when rescheduling, that still the same Dura

[2014-11-06 19:34] hawesie opened #95 "Install targets missing for python scripts"
[code]

[2014-11-07 08:43] #95 closed, assigned to hawesie

[2014-11-10 15:54] bfalacerda commented on #57
solved in #59

[2014-11-10 15:54] #57 closed, assigned to bfalacerda

[2014-11-10 15:59] bfalacerda commented on #65
closing old solved issue

[2014-11-10 15:59] #65 closed, assigned to nobody

[2014-11-12 21:36] marc-hanheide opened #104 "submodule not supported by bloom-release"
The PRISM submodule in here will not be release-able. Either we need to release it as a separate Debian package and rosdep-end on it, or (better option), it should be snap-shotted in here with `git subtree`

[2014-11-12 21:59] bfalacerda commented on #104
can you give a short explanation on why you prefer the `git subtree`? I was thinking of going for the standalone debian package + rosdep, but I don't have an idea on what git subtree is.

[2014-11-12 22:44] marc-hanheide commented on #104
check https://github.com/apenwarr/git-subtree/blob/master/git-subtree.txt

I can also help you doing it... just not now

[2014-11-12 22:52] bfalacerda commented on #104
cheers. i'm not doing it just now anyway. i'll ask for help if/when i need it

[2014-11-15 08:57] hawesie opened #105 "wait_action needs to be a run_dependency of task_executor"

[2014-11-18 20:03] cdondrup opened #108 "Schduler has problems with the topo_nav travel_time_estimator"
this happened when trying to schedule and on demand task while running the simple node patrol.

[code]

[2014-11-19 00:10] cdondrup commented on #108
Different error but same cause: trying to schedule an on demand task when there are already many in the queue:

[code]

[2014-11-19 12:48] hawesie commented on #108
I don't see this when I test things. Are you sure you're demanding to a waypoint that exists? What happens if you run `rosrun task_executor example_demand_client.py` which demands a single wait action? What if you run the dummy top nav rather than the real one? E.g. replace the whole strands navigation with `roslaunch topological_utils dummy_topological_navigation.launch map:=<map>` and try again.

[2014-11-19 12:58] cdondrup commented on #108
All I can say is that it works if the schedule is empty. Will try your suggestions and report back.

[2014-11-19 14:05] cdondrup commented on #108
OK, I tested it again, when I get the error described in https://github.com/strands-project/strands_executive/issues/108#issuecomment-63570234 I also observed this output in the action server that should execute the task:

[code]

Which would mean that the action server became unresponsive?! This is the action server: https://github.com/LCAS/marathon_gui/blob/master/scripts/execute_task.py very si

[2014-11-19 14:14] cdondrup commented on #108
This happened when just repeatedly trying to schedule a task:

[code]

Robot was not stuck.

[2014-11-19 14:19] cdondrup commented on #108
Just tried it again, restarted the scheduler and the continuous patrol, above error occures after trying to schedule the same task for 5-6 times. It is exactly the same task again and again as I'm just pressing the button on the website. Most of the times it "works" (where works means that it ignores it but it doesn't break) but sometimes it just crashes. The robot stops moving and the scheduler d

[2014-11-19 14:33] cdondrup commented on #108
This is the output of the `example_demand_client.py` when she was stuck:

[code]

Therefore, the `travel_times` issue seems to be related to being stuck.

[2014-11-19 20:55] hawesie commented on #108
But `travel_times` is very simple so I can't think of why it would cause problems, except if perhaps there are lots of concurrent service calls, so maybe this is concurrency issue. I will try to explore this in the next few hours. Please can you send me an export of your top map so I can work with that too? And when you say "stuck" what do you mean?

[2014-11-19 21:13] cdondrup commented on #108
The topo map is here: https://github.com/strands-project/strands_systems/blob/deprecated/strands_uol_sim/resources/mht.tpl and it's inside the uol_mht strands_morse environment.
With "stuck" I mean that the navigation failed to recover due to being too close to an obstacle.

[2014-11-19 23:22] hawesie commented on #108
There's definitely a concurrency issue at my end.

[2014-11-20 00:00] hawesie commented on #108
Please could you checkout https://github.com/strands-project/strands_navigation/pull/141 and see if that fixes your problem? I added locking to the travel time estimator and that seems to have cleaned this up.

The problem was (I think) that the task executor calls the estimator during the first step of execution which is free to happen once a task has been demanded. If a task is demanded in quick

[2014-11-20 17:08] mudrole1 commented on #108
I checked my part of the code and support for on demand task is there (@hawesie I was incorrect when we talk about). The important thing from my side, it support only ONE on demand task in one batch of task. The idea is that on demand task needs to happen now, so the order of task needs to be pushed... if you have more of them, my scheduler just take first into account to set the order. So, it sho

[2014-11-20 17:15] hawesie commented on #108
Ok. This also matches what I saw in my tests too. @cdondrup what’s your latest on this?=

[2014-11-20 17:20] cdondrup commented on #108
Been working on the interface to fix some twitter stuff. Will test your PR asap and also try and run patrolling on the robot and scheduling a task. Won't be able to do that for the next 2 hours or so, but will come back to you asap.

Thanks for all the help so far.

[2014-11-20 17:56] cdondrup commented on #108
@hawesie couldn't reproduce the error with the travel times so it might be gone. Will report here if it reoccurs. However, I found a new one:

[code]

The sender reported a TCP timeout

[2014-11-20 18:01] cdondrup commented on #108
Also this one:

[code]

[2014-11-20 19:34] hawesie commented on #108
These are really odd. Why do we see these issues for this new, apparently simple, service, but no-where else. I will add exception handling around these calls so they don't bring the system down.

[2014-11-21 14:41] hawesie commented on #108
Looking at the code, the real question is how this ever worked...

[2014-11-21 14:44] hawesie commented on #108
A very important part was commented out!

[2014-12-01 15:09] Jailander opened #121 "Inspection GUI for schedule"
In general it would be nice to have a proper inspection GUI for the scheduler (Showing the scheduled tasks, etc.) and also a testing setup that allows to check a created routine easily.

[2014-12-10 17:56] #91 closed, assigned to nobody

[2014-12-10 17:56] #105 closed, assigned to nobody

[2014-12-10 17:57] #108 closed, assigned to nobody

[2014-12-10 17:57] hawesie commented on #62
Fixed for marathon.

[2014-12-10 17:57] #62 closed, assigned to nobody

[2014-12-10 17:58] hawesie opened #122 "Task executor should retry actions after failure"

[2015-02-10 09:10] #32 closed, assigned to nobody

[2015-02-10 09:11] #6 closed, assigned to nobody

[2015-02-10 09:33] hawesie opened #123 "Add actionlib interface to task executor"
This will allow callers to find out whether their new tasks have been included in the schedule or not. The current problem here is the way tasks are queued prior to scheduling which prevents immediate feedback.

[2015-02-12 16:20] #29 closed, assigned to nobody

[2015-02-12 16:23] hawesie opened #126 "Planning when edges appear blocked"
If we observe that an edge is blocked when navigating, are we able to ensure we don't try to immediately traverse it again?

[2015-02-12 16:27] bfalacerda commented on #126
no way to do it right now. I'll think about it next week, any ideas are welcome

[2015-02-12 16:39] hawesie commented on #126
Temporarily remove the edge from the navigation mdp, or increase its cost to something high enough to force it along another route?

[2015-02-12 17:28] hawesie opened #127 "Add service to get currently executing task"
As requested by @bfalacerda

[2015-02-12 17:49] hawesie opened #129 "Release of mdp_plan_executor"
If we plan to use the mdp_plan_executor for the deployments (which I hope we will), we need to get it released. @bfalacerda what issues are holding this back?

[2015-02-12 18:12] bfalacerda commented on #129
I need the new definitions of the topological map merged

[2015-02-12 22:17] Jailander commented on #126
I think it could make sense to have different recovery behaviours depending on the edges we are crossing, this way it would be easier to replan in case of blockage on specific places.
Also to solve this the only solution that comes to mind is that we could have specific action servers that check for blockages on some edges and if its blocked return failure.

[2015-02-17 12:33] bfalacerda commented on #104
prism-robots is now a stand-alone apt-get package on which strands_executive depends

[2015-02-17 12:33] #104 closed, assigned to bfalacerda

[2015-02-18 17:05] bfalacerda commented on #129
should i create a new package from scratch in hydro-release and start building up from there and then make a PR, or start from hydro-devel, and then try to merge both branches? I don't know if hydro-devel is too out-of-date to do it, so I'm more inclined for the first option

@hawesie, suggestions?

[2015-02-18 22:37] hawesie commented on #129
I suggest starting from hydro-release. hydro-devel is out of date. Once you've got the mdp executor sorted we can scrap the old branch (perhaps renaming hydro-release to indigo-devel)

[2015-02-23 13:23] marc-hanheide opened #130 "create an iCal-based routine generator"
using the `icalendar` package we can easily parse iCal format, e.g. from Google Calendar. This is parsed to generate a routine, e.g. looking at the `RRULE` to determine recurring events. The idea is that the DESCRIPTION field in iCal is used to program a routine by simply putting the action in to be scheduled. Question is how duration, priorities etc. can be encoded. To be discussed. @hawesie

[2015-03-02 08:54] marc-hanheide commented on #130
This is being developed in https://github.com/strands-project/strands_executive/tree/ical It shall use [`DailyRoutineRunner`](https://github.com/strands-project/strands_executive/blob/ical/task_executor/src/task_executor/task_routine.py#L164) to control the submission of tasks taken from he iCal source.
@hawesie's idea was to have a yaml config that defines all the (default) parameters needed for

[2015-03-09 13:21] hawesie commented on #129
Progress on this is needed soon please!

[2015-03-09 13:40] bfalacerda commented on #129
the code is almost there, and then we need to test this, along with https://github.com/strands-project/strands_navigation/issues/181

I'm putting this on top of my list of priorities

[2015-03-09 13:43] hawesie commented on #129
Thanks!

[2015-03-13 08:07] marc-hanheide commented on #130
Plan has changed a bit, implementation now based on JSON rendering of gCal and having gCal resolve the recurring events itself, by using the correct API calls, here's the right URL: `https://www.googleapis.com/calendar/v3/calendars/henry.strands%40hanheide.net/events?key=API_KEY_HERE&singleEvents=true&orderBy=startTime&maxResults=2500` (`singleEvents=true` resolves recurrences)
Also, I'll not use

[2015-03-13 09:49] hawesie commented on #130
Sounds sensible.

[2015-03-13 09:50] hawesie commented on #130
I think we should aim for some rostests that use both a daily routine and ical in parallel and test that they work out.

[2015-03-13 10:01] marc-hanheide commented on #130
Is that necessary? Right now I see them as independent. Actually, why would one still use the other routine in parallel? Maybe I miss something. But certainly running both in parallel shouldn't be a problem. Just the scheduler would see a few more tasks as they a submitted by both components independently. Right?

[2015-03-13 10:03] marc-hanheide commented on #130
I should add that all the recurrence management now works properly so it's easy to set things like every weekday mo-fr at 9 etc...

[2015-03-13 10:06] marc-hanheide commented on #130
Does it make any sense for the scheduler to see tasks way in advance before their requested start time? I mean practically... And if, what is a good time? Also, can I delete tasks from the scheduler I have once sent?

[2015-03-13 10:45] hawesie commented on #130
They need to be send before the execution time if there is likely to be anything else going on in the same time window. I think the daily routine sends stuff an hour in advance.

Regarding having the routine too, you need that for charging, overnight tasks etc. but they should all play nicely together.

[2015-03-16 16:18] marc-hanheide commented on #130
I consider this kind of working until I hear (or experience) otherwise. It's implemented just will probably need bugfixing.

[2015-03-16 16:18] #130 closed, assigned to marc-hanheide

[2015-03-18 21:51] hawesie opened #136 "fifo tester failing"
As seen in PRs, e.g. https://lcas.lincoln.ac.uk/jenkins/job/pr-indigo-strands_executive/10/, the following test is failing on Jenkins:

`catkin_make _run_tests_task_executor_rostest_tests_fifo_tester.test`

This doesn't fail for me locally. Does this command fail for anyone else on their machines?

[2015-03-18 21:55] hawesie commented on #136
Actually it does fail in my Ubuntu VM. Will look more...

[2015-03-23 15:06] marc-hanheide opened #138 "strands_executive_msgs missing in in `build_depend`"
see https://lcas.lincoln.ac.uk/jenkins/job/ros-indigo-wait-action_binarydeb_trusty_amd64/1/console

[code]

[2015-03-23 15:07] hawesie commented on #138
Nothing has changed in any of these packages! Could it be a Jenkins issue?

[2015-03-23 15:10] marc-hanheide commented on #138
it has changed: https://github.com/strands-project/strands_executive/commit/c9113ab7f3b5976313dd0fc086241d35be664fff#diff-4df48e1e34b2737c8f2760f44fd0fd45 and that's what causes it.

[2015-03-23 22:27] hawesie commented on #138
That was ages ago! I'll look.

[2015-03-23 22:28] hawesie commented on #138
Ah, but this is the first time it's been released since those changes I guess.

[2015-03-23 22:45] marc-hanheide commented on #138
yep

[2015-03-23 23:42] #138 closed, assigned to hawesie

[2015-03-27 15:22] hawesie commented on #129
Released.

[2015-03-27 15:22] #129 closed, assigned to bfalacerda

[2015-03-27 15:36] hawesie opened #143 "mdp model initial estimates"
The initial travel time estimates of the mdp model are really low. Is there a way of increasing them sensibly?

[2015-03-27 15:40] hawesie opened #144 "policy executor fail when current_node is none?"
On the robot I just saw mdp policy execution fail repeatedly when /current_node was reporting none. I failed to capture the output though. Is this likely to be a problem?

[2015-03-27 15:41] Jailander commented on #143
yes working on it, I will use the global plan instead of straight line should increase the initial estimation

[2015-03-27 15:42] Jailander commented on #144
never seen it shouldn't happen. please post output if seen again

[2015-03-27 15:46] bfalacerda commented on #144
was it during execution of a policy, or when one was received?

[2015-03-27 15:47] hawesie commented on #144
received i think

[2015-03-27 15:49] Jailander commented on #144
but how could it happen anyway? https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/execute_policy_server.py#L216

[2015-03-27 15:49] Jailander commented on #144
unless monitored navigation / move_base failed

[2015-03-27 15:54] bfalacerda commented on #144
it's probably on my stuff @Jailander

[2015-03-27 15:54] Jailander commented on #144
Ok, let me know for sure I'm doing tests before releasing the new fixes

[2015-03-27 15:58] hawesie commented on #144
Found the output

[code]

[2015-03-28 12:53] bfalacerda commented on #144
have you seen this again? Looking at this

[code]

It looks like the `execute_policy`action server received "'WayPoint12'", as its target, hence the extra single quotes there that screw it up

[2015-03-30 12:22] marc-hanheide opened #146 "priorities to guide "dropping" of tasks"
as discussed with @mudrole1 and @bfalacerda we should have support for priorities in tasks, both send to the scheduler and in the on-demand tasks. I'll quote from the gitter chats:

_bfalacerda March 28 2015_

i don't know exactly how long it wil take. bit if priority means "this tasks should not be dropped by the scheduler" and not "we should try to do this task as fast as possible", it shouldnt

[2015-03-30 21:10] hawesie commented on #144
Not seen again.

[2015-04-01 16:01] #143 closed, assigned to nobody

[2015-04-01 16:02] bfalacerda commented on #144
closing this then

[2015-04-01 16:02] #144 closed, assigned to nobody

[2015-04-01 16:04] #127 closed, assigned to hawesie

[2015-04-01 16:05] bfalacerda opened #151 "wait action fails"
[code]

[code]

@marc-hanheide it looks like this was introduced by your edits to the wait action

[2015-04-01 16:08] marc-hanheide commented on #151
Yep... I'll accept that  responsibility

[2015-04-01 16:09] bfalacerda opened #152 "use full travel times to waypoint vector"
The  GetExpectedTravelTimesToWaypoint is being called redundantly  because the vector it returns is not being used at the scheduler level.

The scheduler should use it better

[2015-04-01 16:37] marc-hanheide commented on #151
should be fixed in #153

[2015-04-01 16:56] #151 closed, assigned to marc-hanheide

[2015-04-01 18:53] bfalacerda opened #154 "keep epoch-mdp map"
In order to avoid redundant calls to edge transveral prediction

[2015-04-01 21:46] mudrole1 commented on #146
@hawesie
I dont have my notes from Vienna right now and I struggle to run test for task_executor. I run:
-roslaunch topological_utils dummy_topological_navigation.launch
-rosrun task_executor scheduled_task_executor.py but this complains that I need to define argument topological_map... and I cant find what is the name of the dummy one. What is it please?
-then I want to run my modified example_mu

[2015-04-02 08:26] hawesie commented on #146
Try  `roslaunch task_executor task-scheduler-top.launch` instead of the usual launch for task executor. Sorry, will update docs.

[2015-04-02 09:44] mudrole1 commented on #146
I guess I am still missing something to run:
-1. when running roslaunch topological_utils dummy_topological_navigation.launch it starts and says it waits for services. I tried to see in the code which ones, but I am lost in that
- 2. roslaunch task_executor task-scheduler-top.launch starts and says it waits for services. Again, I dont know which ones

-3. when running example_multi_add_client.py i

[2015-04-02 09:49] hawesie commented on #146
You need to launch mongodb as well, e.g.

`roslaunch mongodb_store mongodb_store.launch test_mode:=true`

will create an empty db and share it.

The need for mongo is documented:

https://github.com/strands-project/strands_executive/blob/hydro-release/README.md

[2015-04-02 15:51] marc-hanheide opened #155 "unit test for test_fifo_task_executor is unstable"
https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-strands_executive/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/45/testReport/

It seems to me this sometimes works and sometimes fails. So maybe the test has a race condition?

[2015-04-02 16:02] #136 closed, assigned to nobody

[2015-04-02 16:04] hawesie commented on #122
This was raised after the marathon, but never implemented. @marc-hanheide is this necessary for the care scenario? Currently if the task reports failure, or if navigation to the task reports failure, then the task is dropped as failed. My rationale for just failing is that monitored et al navigation are responsible for retrying the navigation, so having retries here would just be redundant. Also I

[2015-04-02 16:06] marc-hanheide commented on #122
agreed. I don't think we need it...

[2015-04-02 16:06] #122 closed, assigned to nobody

[2015-04-02 16:26] hawesie commented on #152
At my end I could consider epochs equivalent if they fall within a certain duration of each other. That would prevent me calling the travel time service for tasks that have execution times that are only seconds apart. Should I do that, or will you handle this as part of #154? My preference is that you handle it as then the caller can be ignorant of epoch window sizes.

[2015-04-02 16:45] bfalacerda commented on #152
yes, i'll do it, i also think it makes more sense at the mdp level

[2015-04-06 14:42] bfalacerda opened #157 "demand task: 'NoneType' object has no attribute 'close'"
I see this happening once in a while in the routine window:

[code]

[2015-04-06 14:49] bfalacerda commented on #157
Also this, but then I don't see any errors in the executive window:

[code]

[2015-04-06 14:51] bfalacerda commented on #157
these errors are with https://github.com/strands-project/strands_executive/pull/156 merged

[2015-04-06 15:03] bfalacerda commented on #157
It also looks like that after these errors on demanding the task, the tasks that were already scheduled are dropped from the schedule

[2015-04-06 21:19] mudrole1 commented on #146
Ooops, I am not sure, how did I make it, but I pushed my stuff directly to the strands-executive, and not to my branch :-/ I noticed it just now after three days of pushing stuff. Sorry, if you were confused :-/

[2015-04-06 21:31] mudrole1 commented on #146
However, I did couple of things:
a) added "priority" field to task.msg
b) if all tasks cannot be executed, executor sort them based on priorities and try to throw away tasks with the lowest prio or 20% of them (whatever is smaller number)
c) if there is currently executed task and the new tasks are added and cannot be scheduled, the last task (others throw away) will be propagated as on demand tas

[2015-04-07 10:10] hawesie commented on #146
@mudrole1 I have created a branch call `priorities` which contains all your changes. Please push there for updates then create a PR to `hydro-release` when you're ready.

[2015-04-07 10:14] hawesie commented on #146
Or even better, push everything to your fork and then PR as normal.

[2015-04-07 10:18] hawesie commented on #157
Is this with @mudrole1 recent changes or without?

[2015-04-07 10:23] bfalacerda commented on #157
Without, I pulled only from your fork

[2015-04-07 10:30] hawesie commented on #157
It looks like there's some problem with the task being sent from `demand_charge` method in `robot_routine.py`. Can you print out the task there?

[2015-04-07 11:48] mudrole1 commented on #146
Yep, I was thinking that I am pushing to my fork, however I wasnt :-/

[2015-04-07 12:53] bfalacerda commented on #157
[code]

[2015-04-07 12:54] bfalacerda commented on #157
[code]

[2015-04-07 12:56] bfalacerda commented on #157
the first error happens more often than the second. I wonder if both of them are in the same service call and there's some special case where the `/mdp_plan_exec/get_expected_travel_times_to_waypoint` service is doing something unexpected

[2015-04-07 12:59] bfalacerda commented on #157
just found an error printed in the executive indow:

[code]

[2015-04-07 13:20] mudrole1 commented on #146
@hawesie
What is the difference between self.execution_schedule.get_current_task() and self.active_task? Are they same (as the code looks like)?

[2015-04-07 13:51] hawesie commented on #146
In what file/class?

[2015-04-07 14:00] hawesie commented on #157
I think I have it. This is my bad. From https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/src/task_executor/base_executor.py#L158 if `task.start_after` is `None` then I suspect this will result.

[2015-04-07 14:08] bfalacerda commented on #157
There are many instances of

`start_after:
  secs: 0
  nsecs: 0`

without the error occuring though. Anyway, I'll merge your fix and check if it happens again

[2015-04-07 14:16] mudrole1 commented on #146
sorry, task_executor/scheduled_task_executor.py uses self.execution_schedule.get_current_task(), but base_executor.py use active_task

However, scheduled_task_executor extends AbstractTaskExecutor which extends base_executor... so I thought it should be same to approach same thing.

[2015-04-07 14:19] hawesie commented on #146
`self.execution_schedule.get_current_task()` indicates which task is currently considered as active in the schedule. The base_executor `active_task` is the task that is actually being executed by the executor. These don't have to be the same. Usually the former is used to define the latter, but in the demand case it is done differently.

[2015-04-07 14:19] mudrole1 commented on #157
I wonder why there are such instances.... Also, the previous tasks, has start_after 0, but also end_before zero... but not zero duration! Such a task should be invalid :-/

[2015-04-07 14:19] bfalacerda commented on #157
Still happens :(

Found another thing in the executive window:

[code]

[2015-04-07 14:21] hawesie commented on #157
@mudrole1 demanded tasks typically won't have a window, but should have a duration, but nothing checks this AFAIK.

[2015-04-07 14:23] hawesie commented on #157
@bfalacerda  looking at the below output, please can you print out the values of `target` and `epoch` in base executor?

[code]

[2015-04-07 14:40] bfalacerda commented on #157
[code]

[2015-04-07 14:43] bfalacerda commented on #157
maybe it's a concurrency issue again? there is a call to the get_expected_travel_times service made by the task executor, while it is also receiving calls from the scheduler.

It seems to only calculate one  expected times vector when that happens

[2015-04-07 14:50] hawesie commented on #157
Ah, great spot. The changes I made in this PR added a second path through my code to call the expect travel time service. Previously the single path had a lock on it, the second path doesn't have this lock. It will take me a bit longer to fix it, but it's easy to do.

[2015-04-07 14:51] bfalacerda commented on #157
shouldn't the rospy service stuff be able to handle that on its own?

[2015-04-07 14:52] bfalacerda commented on #157
or is it from the same service proxy?

[2015-04-07 15:12] hawesie commented on #157
It’s from the same service proxy.

[2015-04-07 15:49] mudrole1 opened #158 "Waiting for task_executor services causes top_nav called with Waypoint1"
@hawesie I have one for you too:

when I run first `rosrun task_executor example_lenka.py` (which is modification of example_add_multi.py, but shouldn't make diifrence here, I am just adding tasks in waypoint h_2).
It says "Waiting for task_executor service...".

Then, I start `roslaunch task_executor task-scheduler-top.launch`. As it should start executing first task, it gives:

[code]

and `rosl

[2015-04-07 15:51] hawesie commented on #158
Are you sure you’re not adding a task containing `WayPoint1` somewhere?

[2015-04-07 15:51] mudrole1 commented on #158
I guess it relates to the fact that base_executor.py / __init__method sets current and closest nodes to Waypoint1, but that is not in dummy top_map... and I dont know what is happening beyond there

[2015-04-07 15:51] mudrole1 commented on #158
My code is:

#!/usr/bin/env python
import rospy
from strands_executive_msgs import task_utils
from strands_executive_msgs.msg import Task
from strands_executive_msgs.srv import AddTasks, SetExecutionStatus
from strands_navigation_msgs.msg import *
import sys

def get_services():
  # get services necessary to do the jon
  add_tasks_srv_name = '/task_executor/add_tasks'
  set_exe_stat_srv_name = '/t

[2015-04-07 15:52] hawesie commented on #158
That could be it. If you send a task before it has received an update from the topological localisation I would expect that to happen.

[2015-04-07 15:56] mudrole1 commented on #158
Ok, and how to fix it? Should the service be published after the executor received the update from top localisation? Not before?

[2015-04-07 15:59] hawesie commented on #158
Yeah, that would be a good solution.

This is a low priority thing IMO as most use cases will have topological localisation running before tasks are sent.

[2015-04-07 16:02] mudrole1 commented on #158
yep, I spotted it accidentally... Will try do it later.

[2015-04-07 18:48] cdondrup opened #159 "Can I haz metapackage?"
So we can install everything within the strands_robot and desktop metapackages? Just spent 5 minues asking myself why the gcal stuff is not on the robot.

[2015-04-08 07:37] hawesie commented on #159
Dupe of #80.

[2015-04-08 07:37] #159 closed, assigned to nobody

[2015-04-08 07:38] hawesie commented on #80
Asked for by @cdondrup  too. @mudrole1 are you able to do this as part of your current work?

[2015-04-08 07:49] hawesie commented on #157
I'll try and fix this today.

[2015-04-08 08:31] cdondrup commented on #80
Didn't see this one. Was late yesterday.

[2015-04-08 12:02] bfalacerda opened #160 "error with logging from executive"
I just saw this happening once.

[code]

[2015-04-08 12:59] Jailander opened #161 "Is task executor using frenap?"
I saw that frenap is being launched here: https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/launch/task-scheduler-mdp.launch#L7
I thought this was deprecated however, it can't work as the stats are being logged in a different collection.

[2015-04-08 13:05] bfalacerda commented on #161
yeah, i forgot to remove that. will do in a bit

[2015-04-08 14:29] mudrole1 commented on #80
Can you please point out, what it means?

[2015-04-08 14:31] cdondrup commented on #80
@marc-hanheide posted a nice description here: https://github.com/strands-project/fremen/issues/13#issuecomment-90843485

[2015-04-08 15:18] hawesie commented on #160
It's been there since last year. It doesn't hurt system performance but does mean some logging is missing which will hurt analysis. I'll add some locks to prevent the concurrent access which I think is causing this.

[2015-04-08 15:45] #161 closed, assigned to nobody

[2015-04-08 17:51] bfalacerda opened #163 "field success is not a bool"
[code]

[2015-04-08 17:58] bfalacerda commented on #163
this started happening  in bob sometime during the afternoon and now it's happening many times in a row

[2015-04-08 18:48] hawesie commented on #163
Are there errors on the executive window too?

[2015-04-08 19:03] cdondrup opened #164 "Charging is preempted due to wrong travel time"
When the robot has a task scheduled at the charging station the charging action is preempted because the time is not calculated correctly. Charging takes longer than move_base and therefore the max travel time is reached before the robot reaches the station.
The same will happen with human_aware navigation is running.

[code]

I think the time estimation is a bit too optimistic.

This was using th

[2015-04-08 19:04] mudrole1 opened #165 "Threads locks in scheduled_task_executor?"
Ive noticed the problem caused by two lines:

if(self.active_task is not None):
          if(low_prio.priority<= self.active_task.priority):
              #do something

If there is an active task when the first if is checked, but finishes just at that moment, second if throws exception. At least, I think that is the problem, as I tested the same code several time and exception occured couple of t

[2015-04-08 20:06] hawesie commented on #164
The MDP stuff is there to remove this problem so this should go away if you use the MDP system (once it has a few data points).

[2015-04-08 20:48] bfalacerda commented on #163
yes, pretty much the same:

[code]

There were another error that appeared meanwhile, not sure if they're related:

[code]

[2015-04-08 20:56] bfalacerda commented on #165
can you show the error and get the link to those lines in the code?

[2015-04-08 21:02] gestom opened #166 "Using task-scheduler-mdp causes the robot to go to wrong waypoints"
MDP task scheduler ends up in different nodes that is supposed to.

e.g.:

The task is (from /current_schedule topic):

[code]

But the robot goes to WayPoint7:
task_type: 0                                                                                                                                                                                                        │··························

[2015-04-08 21:16] bfalacerda commented on #166
The navigation was preempted because it exceeded the predicted time for execution by more than whatever the threshold is.

[2015-04-09 05:22] #152 closed, assigned to hawesie

[2015-04-09 05:22] #160 closed, assigned to hawesie

[2015-04-09 07:05] hawesie commented on #165
Yep, that will help us.

[2015-04-09 07:18] #157 closed, assigned to nobody

[2015-04-09 08:12] bfalacerda commented on #163
more complete output. Executive:

[code]

Routine:

[code]

[2015-04-09 08:48] mudrole1 commented on #165
Uaa, I shouldnt code in the evenings as my brain doesnt work :( There was another similar place in my code causing the issue and I fixed it easily. Just ignore this :D

[2015-04-09 08:49] #165 closed, assigned to mudrole1

[2015-04-09 08:54] marc-hanheide opened #168 "[AbstractTaskServer] add priorities support"

[2015-04-09 11:51] mudrole1 commented on #146
@marc-hanheide  This should be solved by pull request #169

[2015-04-09 12:17] #163 closed, assigned to nobody

[2015-04-09 13:26] bfalacerda opened #170 "make socket communication with prism-robots more robust"
if there's any error while using the socket to communicate with prism-robots, the system is not able to recover. I'll look into making this more robust

[2015-04-09 15:15] mudrole1 opened #171 "Check if the task is valid"
A task must be checked if it has valid time window. But what should be the procedure?

In my pull request, I have added to the scheduler that it checks, if the time window is valid. If not, the scheduler_node will refuse do anything... as result, executor will try to throw RANDOM task (here will be place to improve it to throw away the one causing problem).

 It might be better that executor check

[2015-04-09 15:20] hawesie commented on #171
The `add_task` service should check it, print a warning and drop it if there's a problem. I can also put a check into the scheduler node in the part where it translates between ROS and your representation, unless that's what you've already done.

[2015-04-09 15:38] mudrole1 commented on #171
Yep, I did that in the scheduler_node. I can modify  the method add_tasks in scheduled_task_executor to check and drop.

[2015-04-09 15:41] hawesie commented on #171
I suggest doing it in `base_executor.py` in the add task and add tasks ros service methods. That way it's done for all future subclasses too.

[2015-04-09 16:02] mudrole1 commented on #171
Cool, I will do it

[2015-04-09 19:47] gestom commented on #166
It did not looke like that - the robot actually stopped at waypoint7 and turned accordingly. It should not turn when the navigation is simple timeouted, no?

[2015-04-09 19:57] gestom opened #173 "Task execution ?"
## rostopic echo /current_schedule reports:
## execution_queue:

[code]
-
  task_id: 7
  start_node_id: WayPoint4
  end_node_id: WayPoint4
  action: /info_task_server
  start_after:
    secs: 1428609905
    nsecs: 0
  end_before:
    secs: 1428610198
    nsecs: 0
  max_duration:
    secs: 180
    nsecs: 0
  execution_time:
    secs: 1428609905
    nsecs: 0
  arguments: []
  ---
  -----------------

[2015-04-09 19:59] bfalacerda commented on #166
From what I see in the output you pasted, the navigation to the waypoint was preempted, and the robot _knows_ he didn't reach is goal and will not try to execute anything there (Task failed). I don't know why he turned, the only thing I can say from the output is that the robot didn't go to a wrong waypoint, it simply had a navigation task preempted.

[2015-04-09 20:02] bfalacerda commented on #173
use `rosrun task_executor schedule_status.py`, it makes it easier to check when the next task is going to start

[2015-04-09 20:03] bfalacerda commented on #166
##

[2015-04-09 20:04] bfalacerda commented on #173
1428609605 converts to 4/9/2015, 9:00:05 PM in your timezone

[2015-04-09 20:12] gestom commented on #173
yeap, that was the following task - but still nothing happened

[2015-04-09 20:12] gestom commented on #173
[INFO] [WallTime: 1428610330.958784] Waiting to execute /info_task_server @ ChargingPoint (task 5)
[INFO] [WallTime: 1428610330.959297] Execution to start at 2015-04-09 21:15:05
[INFO] [WallTime: 1428610330.960006] A further 3 tasks queued for execution

[2015-04-09 20:12] gestom commented on #173
let's see

[2015-04-09 20:28] gestom commented on #173
[INFO] [WallTime: 1428610826.754976] Waiting to execute /info_task_server @ WayPoint5 (task 7)
[INFO] [WallTime: 1428610826.755785] Execution to start at 2015-04-09 21:25:05
[INFO] [WallTime: 1428610826.756457] A further 3 tasks queued for execution
[INFO] [WallTime: 1428610831.754109]

but nothing happens

[2015-04-09 20:43] hawesie commented on #173
Please paste the output of the task executive window for the duration this is happening (e.g. before and around the expected execution time) and also let us know which version of the software you are using (e.g. released package, current source version or some fork).

[2015-04-09 21:07] gestom commented on #173
Executive (fresh from github):
- remote origin
  Fetch URL: http://github.com/strands-project/strands_executive.git
  Push  URL: http://github.com/strands-project/strands_executive.git
  HEAD branch: hydro-release

Navigation (fresh from github):
- remote origin
  Fetch URL: http://github.com/strands-project/strands_navigation.git
  Push  URL: http://github.com/strands-project/strands_navigation.g

[2015-04-09 21:09] gestom commented on #173
It was working yesterday, the 'only' problem was that the robot went to wrong nodes

[2015-04-09 21:23] bfalacerda commented on #173
maybe instead of posting passive-agressive comments that have no purpose except annoy me, you can paste some output from the executive and the navigation as @hawesie asked, so we can look at what's going on?

[2015-04-09 21:25] bfalacerda commented on #173
it looks like frenap is being launched, which means you don't have the most recent version: https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/launch/task-scheduler-mdp.launch

That shouldnt be the problem though

[2015-04-09 21:38] gestom commented on #173
Sorry to annoy you by that comment. I just meant that there were only minor issues yesterday. I have pasted the output from the the task executive window as @hawesie asked, but the problem is that it did not print anything unusual.

[2015-04-09 21:43] bfalacerda commented on #173
[code]

Just this? if so its probably because you're launching it from the main machine to the right-cortex, so you dont see more output. For now it's better to either log in to right-cortex and launch there, or just launch everything in the main cpu so we can see something more being printed.

what about navigation?

[2015-04-10 06:36] marc-hanheide commented on #168
Also... No specific support needed here.

[2015-04-10 06:36] #168 closed, assigned to marc-hanheide

[2015-04-14 16:18] marc-hanheide opened #179 "[prism] Error: Syntax error"
any suggestion what might be going wrong here @bfalacerda ?

[code]

[2015-04-14 17:32] bfalacerda commented on #179
this means no mdp was loaded. Can you tell me when it occurred?

[2015-04-14 17:43] marc-hanheide commented on #179
We have it running on a side PC. Could that be a problem?

[2015-04-14 17:44] marc-hanheide commented on #179
We just ran standard task-execution-mdp.

[2015-04-14 17:44] marc-hanheide commented on #179
And it worked like that in Linda

[2015-04-14 17:49] bfalacerda commented on #179
so i assume this is happening all the time?

the prism files are saved in ~/tmp/prism . Maybe Werner-s side pc doesnt have access somehow?

Can you check if there's stuff there? You should at least have a "top_map_name".mdp file (while the nodes are running). No other complaints on start up?

[2015-04-14 17:59] bfalacerda commented on #179
and `prism-robots` runs from `/opt/prism-robots`

i start `prism-robots` subprocesses via `popen`:

https://github.com/strands-project/strands_executive/blob/hydro-release/mdp_plan_exec/src/mdp_plan_exec/prism_java_talker.py#L14

[2015-04-14 18:24] marc-hanheide commented on #179
I checked all that. Prism starts but unfortunately the directory is deleted when prism is shutdown. So there was no such file. I think I tested while the nodes were running and the dir was empty but I'm not sure about that and I'm off-robot now.

[2015-04-14 18:36] bfalacerda commented on #179
ok, tell me more when you know. The only reason I see for the error is really a weird file access issue, either by the python node, or the java subprocess.

[2015-04-15 07:52] marc-hanheide commented on #179
This is the file:

[code]

[code]

Apologies for the long post...

[2015-04-15 07:52] marc-hanheide commented on #179
As I said, you can also go to https://lcas.lincoln.ac.uk/henry/ to login (window 9 in tmux)

[2015-04-15 10:21] marc-hanheide commented on #179
One observation: we have nodes that don't have any edges connected to them. Could that be a problem?

[2015-04-15 10:22] bfalacerda commented on #179
line 114
[Cafeteria_WayPoint26_  0](waypoint=45) -> 0.5:(waypoint'=81) + 0.5:(waypoint'=45);

Looks like there's a waypoiny called "WayPoint26_  0" . PRISM doesnt like the spaces there

[2015-04-15 10:23] bfalacerda commented on #179
sorry, not a waypoint, those are good. An edge_id called Cafeteria_WayPoint26_  0

[2015-04-15 10:26] bfalacerda commented on #179
is there more than one edge connecting these waypoints?

I also see an edge called Cafeteria_WayPoint26

[2015-04-15 10:56] marc-hanheide commented on #179
yes, that was it. Thanks! We have another issue now that @Jailander is looking into.

[2015-04-15 10:56] #179 closed, assigned to bfalacerda

[2015-04-15 10:58] bfalacerda commented on #179
ok. we need to discuss these disconnected waypoints to be sure there wont be any problems

[2015-04-15 11:03] bfalacerda opened #181 "check for spaces in topo map waypoints and edges"
And output an error message so #179 doesnt happen again

[2015-04-15 13:35] marc-hanheide opened #183 "[gcal_routine] uses wrong timezone"

[2015-04-15 15:57] #183 closed, assigned to marc-hanheide

[2015-04-17 14:09] marc-hanheide opened #186 "[task_executor] priorities order wrong?"
It seems to me that priority 2 tasks are dropped when priority 1 tasks are added. I was expecting it to be the other way around. Either I got it wrong or this is a bug? What is the priority order? @hawesie, do you know?

[2015-04-17 14:23] hawesie commented on #186
@mudrole1 handles priorites. I am ignorant here (and elsewhere!).

[2015-04-17 16:05] mudrole1 commented on #186
the prority 2 is definitely  higher than 1, thus should be performed. However, it depends what task are you adding... are they on demand? are they interruptible? what are time windows and other properties? can you run it and copy here what executor launch file says?

[2015-04-17 16:20] marc-hanheide commented on #186
OK, I need to check this again. Can't do it now, I'll get back to you,

[2015-04-21 13:10] #181 closed, assigned to bfalacerda

[2015-04-22 12:24] marc-hanheide commented on #155
Seems to still be running?

[2015-04-22 14:38] hawesie commented on #155
It's not in the cmake https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/CMakeLists.txt#L128

[2015-04-22 14:45] marc-hanheide commented on #155
but check https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/tests/scheduled_exe_tester.py#L3 Maybe that's the culprit???

[2015-04-22 15:54] hawesie commented on #155
ahah!

[2015-04-22 20:18] marc-hanheide opened #194 "[gcal_routine] only query event in time window"
change the google API call to only retrieve event in a certain time window from now - a few hours up to a day ahead:

`https://www.googleapis.com/calendar/v3/calendars/henry.strands%40hanheide.net/events?key=AIzaSyC1rqV2yecWwV0eLgmoQH7m7PdLNX1p6a0&singleEvents=true&orderBy=startTime&maxResults=2500&timeMin=2015-04-22T21:08:44.0012Z`

using python `datetime.isoformat()` prepended by "Z" for `timeMi

[2015-04-27 09:26] #194 closed, assigned to marc-hanheide

[2015-05-08 11:26] marc-hanheide opened #201 "[gcal_routine] setting arguments in gcal event does not work"
because then the factory call is not taking the other yaml parameteres (like `start_after` etc) into account. Should be fixed by still initialising the YAML from the normal gcal event data, and then "adding" the description YAML... not totally straight-forward.

[2015-05-09 16:41] cdondrup opened #202 "[gcal_routine] If no location given, create service is not called"
If I got it right, in [here](https://github.com/strands-project/strands_executive/blob/hydro-release/gcal_routine/src/gcal_routine/tools.py#L164-L165) the start and end nodes are taken from the 'Where' field in the calendar. If this fails it jumps to the except block and never calls the create service of the task itself. Therefore, e.g. the location will be `''` (due to [this giving an empty strin

[2015-05-11 09:35] marc-hanheide opened #203 "[task_executor] regression, invalid assumption about WayPoint names"
The executor doesn't work for AAF anymore as there is a strange assumption hard-coded in there about the WayPoint names:
https://github.com/strands-project/strands_executive/blame/66b22e1fc432723738e92a3ef144759043bbfbdf/task_executor/src/task_executor/base_executor.py#L83

There is no such `WayPoint1` in the AAF map, and I think this is quite a bold assumption. As this is only updated when the ro

[2015-05-11 10:04] marc-hanheide commented on #203
Trace from gitter:

[code]

there was an issue with the publisher (bloody can bus error on the robot), but this thing looks still suspicious, but we tested now and it worked... but it could lead to a racing condition, right?
but the real problem was the robot topic dying not this, so this has lower priority or can even be closed by @hawesie or @bfalacerda

[2015-05-11 10:43] hawesie commented on #203
It should be fixed, but in the future. Those values are only there until the first real values are received, which should be pretty soon after start-up. I did make a dumb assumption there though.

[2015-05-11 15:51] cdondrup opened #204 "[task_executor] iteration over non-sequence"
Apparently, when the scheduler has to preempt a task before the robot reached the destination and started execution, the task executor dies:

[code]

Clumsy fingers sent this before it was completed...

Anyidea? maybe @hawesie or @bfalacerda ?

[2015-05-11 16:00] cdondrup commented on #204
Mh, apparently it's also happening when the action is already executing. So as soon as it has to cancel a task that is executing it dies.

[2015-05-12 09:20] hawesie commented on #202
The scheduler does not die on an empty string (or at least shouldn't), but should do the task where the robot is when the task is due for execution.

[2015-05-12 11:09] mudrole1 commented on #204
Yes, that is mine :( almost there!

[2015-05-12 12:06] mudrole1 commented on #204
Ok, this should be now fixed, sorry! See PR #200

[2015-05-13 15:02] cdondrup opened #205 "General scheduler remarks and feature requests"
This issue is more a collection of what I noticed and what would be nice to have in order to facilitate working with it. The initial list is rather short but I might add to it.
- Scheduling speed: the scheduler itself takes quite some time to clear a schedule and to drop tasks, this is mainly due to (from my observation):
  - The travel time being estimated for every task everytime the scheduler d

[2015-05-21 09:17] cdondrup opened #206 "Current schedule stops publishing - scheduling thread dies"
Without any error or warning, the `/current_schedule` stops publishing. Observed it twice over the last two days.

Comment from @marc-hanheide:

[2015-05-21 09:24] cdondrup opened #207 "Dropping tasks for no apparent reason"
I observed a very particular scheduler behaviour (happened twice yesterday):
1. The current task appears twice in the `/current_schedule` (exactly the same even the task id) as soon as it becomes active.
2. When the task finishes, the scheduler reports
   `
   [WARN] [WallTime: 1432131595.903224] Dropped 2 existing tasks which are no longer executable
   `
   and then the next task disapeard

Exam

[2015-05-21 09:45] hawesie commented on #207
@mudrole1 please could you look into this? I'm swamped with STRANDS management reports.

[2015-05-21 09:46] hawesie commented on #207
@cdondrup are all these tasks added normally or are any demanded? were they added together or separately?

[2015-05-21 09:47] hawesie commented on #207
Does this coincide with #206?

[2015-05-21 09:48] cdondrup commented on #207
They are added sequentially and are normal tasks (not demanded) (priority 1 - all the same priority) and it doesn't coincide with #206.

[2015-05-21 09:49] mudrole1 commented on #207
Will have a look!

[2015-05-21 09:49] hawesie commented on #207
Sequentially and separated in time or sequentially quickly?

[2015-05-21 09:50] cdondrup commented on #207
In this case they were added quickly after each other.

[2015-05-21 09:51] cdondrup commented on #207
But as I said it happened for the following tasks as well.

[2015-05-21 09:52] hawesie commented on #206
The code that does the publishing is at the end of this method: https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/scripts/scheduled_task_executor.py#L661

If `try_schedule` is called and takes a long time then you won't see a schedule for a while. Is this a problem?

[2015-05-21 09:52] hawesie commented on #206
It would be relatively trivial to separate out the publishing into a separate thread.

[2015-05-21 11:03] cdondrup commented on #206
It seems to stop entirely at least for several hours.

[2015-05-21 13:39] marc-hanheide opened #208 "scheduler did not return from AddTasks Service"
Here is the relevant bit:

My routine called the AddTasks service at `13:40:04`:

Log of routine:

[code]

The call never returned  as the log stops there.

Log of `scheduled_executor`:

[code]

The next is the reaction to the service being called (see times):

[code]

That's all I have observed, I'm afraid.

[2015-05-21 13:40] marc-hanheide commented on #208
not sure it's for @mudrole1 could also be for @hawesie

Reported by @cdondrup

[2015-05-21 13:47] hawesie commented on #208
What is the actual problem being reported?

[2015-05-21 13:52] marc-hanheide commented on #208
"scheduler did not return from AddTasks Service" as the title says? I called said service and it did not return, I believe. At least that's the evidence I've got. This is co-located with the `/current_schedule` not being published anymore, I think.

[2015-05-21 13:57] hawesie commented on #208
Ok, so add_tasks service call did not return? It's just that these are all different bits of the system so I want to be clear.

Do you have the task events being printed for this time?

[2015-05-21 14:00] hawesie commented on #208
Or could you check the contents of message_store/task_events to see if the addition of the task was logged.

The `add_tasks` method obtains a lock, logs the events, then adds them to a queue. If the task addition was logged then it rules out the first two.

Alternatively, is it possible that there is some transient network issue between the calling node and the task_executor?

[2015-05-21 14:01] hawesie commented on #208
And please link the code that does the addition, just for completeness.

[2015-05-21 14:05] marc-hanheide commented on #208
we indeed have network issues at the minute... I'm dealing with them now, but this happened long ago when network still was fine.

[2015-05-21 14:16] marc-hanheide commented on #208
event trace from mongo:

[code]

I suppose the 2nd one corresponds to this addition. There were two additions successively with different priorities...

[2015-05-21 14:19] marc-hanheide commented on #208
call is here... https://github.com/strands-project/strands_executive/blob/hydro-release/gcal_routine/src/gcal_routine/queue_routine_runner.py#L83

you are right, my evidence isn't strong enough as the following logs are only debug and I didn't catch them :-( So, I _think_ it didn't return as that thread ended there regardless what we tried, but I cannot be sure.

[2015-05-21 14:24] hawesie commented on #208
If that log is the addition and if

[code]

indicates that the task that was added made it to the scheduler, then I am really at a loss to explain the blocking. If you look at the methods that handle the service call there is very little code after the log method has happened.

[2015-05-21 14:41] marc-hanheide commented on #208
OK... let's wait and see, but somehow we get the scheduler to hang up, not publishing the schedule and hanging somewhere... I keep my eyes open for it to happen again

[2015-05-21 14:45] hawesie commented on #208
Please keep the schedule_status and task_status scripts running as their output around that time (if available) will be useful.

[2015-05-21 15:08] marc-hanheide commented on #208
what are those scripts? We run everything from [this launch file](https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_bringup/launch/aaf_routine.launch). Don't see any scripts...

[2015-05-23 09:04] mudrole1 commented on #207
This behaviour is really strange. I can see why it dropped two tasks - as it is testing if a task can be executed within its time window depending when the previous task has finished. Here, it makes sense that duplicated task 5 was cancelled, and probably task 6 was affected by long execution of task 5, thus it couldn’t be executed.

However, I cant see reason why the task is duplicated. @cdondrup

[2015-05-23 15:21] cdondrup commented on #207
@mudrole1 not that I can recall. Maybe @marc-hanheide can have look in the logs if there are any.

Adding a delay shouldn't be a problem. We can try that.

[2015-05-26 13:56] marc-hanheide commented on #208
OK, I have an update on this, as it seems to have happened again. No more publishing of `current_schedule`, no more task events indicating that tasks have been added, although other components return that task are being submitted.

Here some logs:

First, the event log as taken from mongo (with a projection to only display relevant fields):

[code]

Obviously the last ask added was task `59`. It i

[2015-05-26 14:04] marc-hanheide commented on #208
I have also just looked at the heartbeat of SMACH, and here's the readable output:

[code]

I can't really read this matrix, but to me it looks like it's flipping between states?

[2015-05-26 14:09] marc-hanheide commented on #208
just discovered there was also this ERROR log:

[code]

Obviously, should be `loginfo`, but maybe that killed it? This is actually well aligned in time with the other errors above, e.g. `Active task cannot be preempted.` See #209

[2015-05-26 14:41] marc-hanheide commented on #208
Just from completeness, here the SMACH topic when the scheduler is in a task working properly:

[code]

[2015-05-26 16:02] marc-hanheide commented on #208
I submitted #209 to probably fix this?

[2015-05-26 16:06] marc-hanheide commented on #206
I'll close this as a duplicate of #208 as all evidence points the way this is the same problem.

[2015-05-26 16:06] marc-hanheide commented on #207
may also be a duplicate of #208?

[2015-05-26 16:35] hawesie commented on #208
Lenka needs to buy us all beer for that typo! I can't check stuff as away from computer on family holiday, but that could be an issue! Not sure why it locks up afterwards though.

[2015-05-26 16:50] marc-hanheide commented on #208
She can buy one for @kunzel as I owe him... :-)

[2015-05-27 19:07] mudrole1 commented on #208
Oh ... :hankey: Sorry! But one more reason to come back to C++ :)

[2015-06-03 13:51] hawesie commented on #208
Can this be closed now?

[2015-06-03 13:53] #204 closed, assigned to nobody

[2015-06-03 13:53] hawesie commented on #186
Is this fixed?

[2015-06-03 13:53] #173 closed, assigned to nobody

[2015-06-03 13:55] hawesie opened #210 "Taking the current location of the robot into account when scheduling"
This is something for me and/or @mudrole1 to check. I'm not sure if the current location of the robot is taken into account when creating a schedule.

[2015-06-03 14:07] marc-hanheide commented on #186
This one is... there's still another issue with the priorities, but I still have no consistent picture of it. It seems that the scheduler does not "lock" anything while it is trying to fit the incoming tasks with different priorities, sometime resulting in intermediate schedules (with the wrong tasks removed) already becoming active. It seems to happen when adding a task and starting a new one hap

[2015-06-03 14:07] #186 closed, assigned to mudrole1

[2015-06-03 14:08] marc-hanheide commented on #208
not until we had :beers:

[2015-06-03 14:11] hawesie commented on #208
@mudrole1  will need to bring :moneybag: to the review

[2015-06-03 14:17] marc-hanheide commented on #208
ok, I think she got the message.

[2015-06-03 14:17] #208 closed, assigned to mudrole1

[2015-08-25 14:50] hawesie opened #213 "[scheduler] Task start times using scheduler version 1"
When I schedule four tasks with identical time windows using scheduler version four, I get the following:

[code]

If I do the same with scheduler version one I get the following:

[code]

Note that all tasks in this second version are given the same starting time! This is incorrect.

[2015-08-25 14:53] hawesie commented on #213
@mudrole1 I'd like to use version one for the summer school as it gives sensible schedules for the cases students are likely to try.

[2015-09-07 10:52] mudrole1 commented on #213
hmm, this is weird. What is the actual state? I can have look now

[2015-09-07 12:36] hawesie commented on #213
I used this script: https://github.com/strands-project/strands_executive/blob/hydro-release/strands_executive_tutorial/scripts/tutorial3.py

Plus the uol_mht simulation and topological map. The top map is a csv file shipped with that sim.

[2015-10-22 12:55] bfalacerda opened #216 "compiling with tutorial package"
I'm trying to compile this for the first time since the tutorial package was added, and I'm getting this:

[code]

[2016-01-26 10:34] gestom opened #217 "Publish IDs of dropped and completed tasks"
It would be nice if a task ID was published whenever a task is completed.
Similarly, it would be nice if a task ID was published whenever a task is dropped.

(Needed for AAF deployment).

[2016-01-26 10:35] gestom opened #218 "Task status service"
It would be useful to have a service, where one could query for a status of a task with a given ID.

(Needed for deployment)

[2016-01-26 10:40] hawesie commented on #217
Yep! Do you have a rough deadline by when you'd like this?

[2016-01-26 10:42] gestom commented on #217
Monday would be nice (sorry for that).

[2016-01-26 10:43] hawesie commented on #217
Monday is difficult. I could probably guarantee it by the Friday after. It might be @mudrole1 could do it sooner?

[2016-01-26 10:45] gestom commented on #217
I can also try it myself, if you give me hint where it could be in the code.

[2016-01-26 10:49] hawesie commented on #217
I'm happy to try to get it in for Monday, but just not promise it.

The places to look are:

https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/scripts/scheduled_task_executor.py

and perhaps its superclass:

https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/src/task_executor/sm_base_executor.py

Also:

https://github.com/stran

[2016-01-26 11:11] mudrole1 commented on #217
I am now finishing something else, I can update you about my free time Wed evening.

[2016-01-27 16:08] hawesie opened #219 "Visualising mdp navigation policies"
Hey @bfalacerda or @Jailander how do I visualise the navigation policies in rviz?

[2016-01-27 16:21] bfalacerda commented on #219
There should be some MarkerArray for it, with some descriptive name that I don't remember right now

[2016-01-27 16:25] hawesie commented on #219
And is it enabled by default in the released code or do I need a special branch or config?

[2016-01-27 16:33] bfalacerda commented on #219
I think it's enabled

[2016-01-28 16:23] Jailander commented on #219
Hi, @hawesie I just saw this sorry sliped my eye, I think its currently not enabled, I'll make a PR solving this

[2016-01-29 12:30] mudrole1 commented on #217
The tasks are dropped in the file scheduled_task_executor.py in the method try_schedule line 426... Dropped tasks are kept in the list "dropped_tasks" so we need just publish this (or maybe just IDs)

About publishing the ID when a task is completed - Do you need the id after it is completed? I thought in our initial discussion, you need to get ID back when you create a new task...
If you need com

[2016-02-03 11:44] hawesie commented on #217
@mudrole1 did you do anything on this? Now the IJCAI papers are done I can look.

[2016-02-03 17:19] mudrole1 commented on #217
Nope, sorry :-/ (as no one was urging I completely forgot about it )

[2016-02-03 19:51] hawesie commented on #217
Ok, I’ll do it.

[2016-02-03 21:20] gestom commented on #217
Hi, I just started to look into it, I think that I might have it done by Friday as part of planned infoterminal improvements.

[2016-02-03 21:28] hawesie commented on #217
I’m literally looking at the code now. Let me know if you want me to add the change or leave it to you.

[2016-02-03 21:28] gestom commented on #217
Go ahead then, thanks!

[2016-02-03 22:56] hawesie commented on #217
When you say 'completed' do you care whether they succeeded or failed?

[2016-02-03 22:59] hawesie commented on #217
Actually it doesn't matter as both are in there.

In the current system you can listen to the topic `/task_executor/events` which publishes `TaskEvent` messages. These messages have the task itself (including its id) and an event field. The event field is assigned based on the constants in the TaskEvent msg definition. To get an idea of what this gives you, run `rosrun task_executor task_status.py

[2016-02-03 23:03] hawesie commented on #217
The above does task completion, but not dropping. I've added a new branch to this repo [publish_dropped_tasks](https://github.com/strands-project/strands_executive/tree/publish_dropped_tasks) which adds my initial attempt at publishing on dropped tasks. This publishes `TaskEvent` messages on dropping, and there is also `/task_executor/dropped` topic which has just the dropped tasks published on it

[2016-02-08 09:53] hawesie commented on #217
@gestom please let me know how this works for you.

[2016-02-10 13:44] cdondrup opened #220 "Assigning a waypoint for execution that does not exists breaks the scheduler"
I used the gcal interface and assigned a task for a waypoint that does not exist. The error is:

[code]

Afterwards, the `/current_schedule` is not published any more and the scheduler becomes unresponsive.

[2016-03-08 11:51] hawesie commented on #219
Closed via https://github.com/strands-project/strands_navigation/issues/292

[2016-03-08 11:51] #219 closed, assigned to nobody

[2016-03-23 10:10] Jailander opened #223 "Can't set execution to False"
When trying to set execution to **False**, task execution refuses these are the service calls

![Screenshot from werner](https://files.gitter.im/strands-project/aaf_deployment/bItB/blob)

and this is scheduler output:

![Screenshot from werner](https://files.gitter.im/strands-project/aaf_deployment/GBi2/blob)

[2016-03-23 10:20] hawesie commented on #223
Ok, I'll look, but there's little chance of a fix happening this week.

[2016-03-23 10:22] Jailander commented on #223
I thought so, I think we can manage for now

[2016-03-23 18:42] marc-hanheide opened #224 "duplicated task in /current_schedule"
Our `/current_schedule` looks like this at the moment:

[code]

`get_active_task` looks alright:

[code]

and execution-status was `True` as well.

[2016-03-24 22:27] marc-hanheide commented on #201
and actually too big a hack. This YAML business is not used an is annoying. We'll drop it.

[2016-03-24 22:27] #201 closed, assigned to marc-hanheide

[2016-04-11 19:17] marc-hanheide commented on #206
This still appears to be a problem, as seen again in AAF deployment. Nothing crashes, no log, but it just won't publish anymore. Sorry, no logs...

[2016-04-11 19:31] hawesie commented on #206
Reopen?

[2016-04-11 19:39] marc-hanheide commented on #206
re-open now, as we found the error in the logs:

[code]

this seems to have killed the scheduling thread

[2016-04-11 19:43] marc-hanheide commented on #206
So, the problem: when there is any exception in the schedule thread, it breaks forever... https://github.com/strands-project/strands_executive/blob/a74422a3f526867ae36667dc3f719a0aa6197af2/task_executor/scripts/scheduled_task_executor.py#L664-L689

Now, it would be interesting to hear from @bfalacerda what the above error could be?

So, 2 things needs to be done:
1. the above bug must be fixed
2.

[2016-04-11 19:48] hawesie commented on #206
@marc-hanheide noted 2. For the live system, please can you stick a try/catch in there and restart? That will be quicker than getting the code updated and released. I can do that later though.

@bfalacerda the rest is you ;)

[2016-04-11 19:50] bfalacerda commented on #206
passing it to @Jailander as it seems to start with a `/topological_prediction/predict_edges` error. I'll also edit my code to catch the exception.

[2016-04-11 19:50] bfalacerda commented on #206
There should be some error messages in the nav tab from the above

[2016-04-11 19:52] marc-hanheide commented on #206
@bfalacerda please go to https://lcas.lincoln.ac.uk/henry/ and inspect yourself... My internet connection is currently so bad, I can maintain it for long enough to log in

[2016-04-11 19:53] marc-hanheide commented on #206
spoke too early... got it:

[code]

[2016-04-11 19:54] cdondrup commented on #206
Apparently: https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/topological_prediction.py#L133-L137 breaks, so the fremen client returned a None value...

[2016-04-11 19:54] hawesie commented on #206
What, no `FibonacciResult`?!

[2016-04-11 19:56] marc-hanheide commented on #206
time to ping @gestom ?

[2016-04-11 19:56] bfalacerda commented on #206
I wonder how long until we can blame MIRA

[2016-04-11 19:57] cdondrup commented on #206
No error from the fremen server though... Btw. the robot tried to get from `ChargingPoint` to `ChargingPoint`. Not sure if that is important...

[2016-04-11 20:03] gestom commented on #206
Well, it might be that you are asking fremenserver to give you a prediction for an empty set of edges.
'None' is then the correct answer.

[2016-04-11 20:05] cdondrup commented on #206
So one way to mitigate this would be to check the `success` flag or the state of the goal because it is set to aborted (just tried feeding the server rubbish). This would have to be done in the topological prediction by @Jailander
The main question is, why was the model empty...

[2016-04-11 20:06] marc-hanheide commented on #206
so, I guess my assignee for this is correct ;-)

[2016-04-11 20:08] hawesie commented on #206
The client can't return None though, or at least I don't think so. Do we see the log error message here?

http://docs.ros.org/indigo/api/actionlib/html/simple__action__client_8py_source.html#l00151

I have a slight suspicion that this is due to concurrent calls to @Jailander's predict_edge_cb somehow corrupting the fremen action client. ROS does not serialise concurrent calls to services, it is up

[2016-04-11 20:17] marc-hanheide commented on #206
I can't see that message anywhere

[2016-04-11 20:18] marc-hanheide commented on #206
at least not on the console...

[2016-04-11 20:23] marc-hanheide commented on #206
But @hawesie maybe right, as also without that error message None could be returned, e.g.: http://docs.ros.org/indigo/api/actionlib/html/action__client_8py_source.html#l00180

[2016-04-11 20:24] marc-hanheide commented on #206
so, clearly, this calls for a Lock to be acquired, I guess.

[2016-04-11 22:10] Jailander commented on #206
Hi just saw this, it looks weird, is there anyway we can see the output of the navigation part for this case? It looks like topological prediction could have failed somewhere or a ros service problem as @hawesie suggested, if its the first case having the topological prediction output could give us more insight into why it failed, it cant be a wrong set of edges as that service predicts only exist

[2016-04-11 22:11] Jailander commented on #206
I'll implement a lock anyway

[2016-04-12 12:56] marc-hanheide commented on #206
Position of the charger:
![image](https://cloud.githubusercontent.com/assets/1153084/14460600/acb25d60-00be-11e6-862d-8036de2779b7.png)

[2016-04-15 06:53] marc-hanheide commented on #206
any progress on this, yet? @Jailander I really think a Lock would simply do the trick.

[2016-04-15 07:34] Jailander commented on #206
Yes I'll make a PR with it along the morning

[2016-04-17 14:22] Jailander commented on #206
This PR https://github.com/strands-project/strands_navigation/pull/303 is being tested on the robot with the lock implemented

[2016-04-19 16:52] cdondrup opened #227 "MDP exploration"
We currently have an issue in AAF regarding the MDP path planning. The info terminal is running at certain locations in the building that are close to walls to not have the robot be an obstacle in the centre of the corridor while waiting for people to info terminate. This means that these waypoints are visited much more frequently than "good waypoints" that are close to these but more to the centr

[2016-04-19 17:10] bfalacerda commented on #227
i can do the change you asked for, I didn't understand that the quick solution from yesterday would have a small impact, and was focusing on other stuff I need to sort out for TSC deployment... Should have something ready tmrw before lunch time.

I'll also take a look in Werner to see if there's anything looking strange in the MDP, will get back to you in a bit.

Regarding exploration idea: to lea

[2016-04-19 17:17] cdondrup commented on #227
I didn't really realise that this would still be a problem when we talked about it yesterday, sorry.

Regarding the exploration, how would that be triggered?

[2016-04-19 17:18] bfalacerda commented on #227
well, you'd need a node adding tasks to the scheduler at certain times or something. @hawesie might be able to tell you where to find last year's script

[2016-04-19 18:25] hawesie commented on #227
https://github.com/strands-project/g4s_deployment/blob/g4s_y2/g4s_y2_routine/src/g4s_y2/routine.py#L353 and down from there.

[2016-04-19 18:33] bfalacerda commented on #227
I looked at the last MDP that was generated for execution (got it as 18h30 BST more or less), and the prediction values at that time made sense. I also generated a policy to reach KinderGarten, and it doesn't do the stupid detour.

Do you always see this behaviour @cdondrup ?

[2016-04-20 11:55] bfalacerda commented on #227
see https://github.com/strands-project/strands_executive/tree/aaf-forb for policy generation that always avoids forbidden waypoints (unless they are either start or target wps), and ignores them during execution.

[2016-04-20 15:32] bfalacerda commented on #227
So @Jailander did some nice plots on predictions for yesterday that seem to confirm that the problem is the predictions. He also checked the amount of nav stats for each of the edges, and that doesn't seem to be a problem:

[code]

14hCEST is 46800 in these plots:

13->88:
![wp13_wp88](https://cloud.githubusercontent.com/assets/4320588/14678749/fa81c548-070e-11e6-864c-139893c33e2f.png)

13->68:
![

[2016-04-27 14:18] #217 closed, assigned to hawesie

[2016-04-27 14:19] #206 closed, assigned to Jailander

[2016-04-27 17:29] hawesie opened #233 "[mdp_task_executor] Update goal formula"
to (F a) & (F b) ...

[2016-04-27 17:29] hawesie opened #234 "[mdp_task_executor] include LTL tasks in active_tasks"
Can remove them at a later stage.

[2016-04-27 17:30] hawesie opened #235 "[mdp_task_executor] Publish all held tasks in an additional "schedule""
- [ ] add second schedule topic with arbitrary order
- [ ] make sure schedule status printer accepts topic remap to handle this

[2016-04-29 17:29] bfalacerda commented on #233
done in https://github.com/strands-project/strands_executive/pull/237

[2016-04-29 17:29] #233 closed, assigned to hawesie

[2016-04-29 17:30] bfalacerda opened #238 "[mdp_task_executor] stop exporting dfa to txt file"
In some cases this is a bottleneck. requires changing method to calculate # of states of the dfa

[2016-05-04 15:17] hawesie opened #243 "[mdp_task_executor] add epoch to guarantees call"

[2016-05-05 10:55] #234 closed, assigned to hawesie

[2016-05-05 10:55] #238 closed, assigned to bfalacerda

[2016-05-10 08:35] hawesie opened #247 "Do a task at one of multiple waypoints"
If I want to have an action that happens at one of a set of waypoints (e.g. charging), is it enough just to change this

[code]

to have a list of waypoints, provided that the goal is to have the action executed?

[2016-05-10 08:58] bfalacerda commented on #247
that's the idea. It was tested long ago, so  let me know if there's some issue

[2016-05-10 09:36] hawesie commented on #247
Thanks, I'll try it and see.

[2016-05-10 09:37] #247 closed, assigned to bfalacerda

[2016-05-11 06:43] hawesie opened #251 "Negative expected times!"
Now on Betty:

[code]

[2016-05-11 06:44] hawesie commented on #251
I'm assuming it's down to this in door prediction?

[code]

[2016-05-11 07:09] bfalacerda commented on #251
Yeah, I forgot to pull https://github.com/strands-project/strands_apps/pull/51.

Just did it and restarted the node, reopen if it happens again

[2016-05-11 17:07] hawesie commented on #251
This is happening on Betty right now.

[2016-05-11 17:11] bfalacerda commented on #251
:( @Jailander I have the commit that added the lock there, looks like it's something else...

[2016-05-11 17:42] bfalacerda commented on #251
restarted it and it happened again

[2016-05-11 19:42] Jailander commented on #251
Oh no... Ok, I'll take more preventive measures and more debug messages maybe we find out what is going on

[2016-05-13 13:02] hawesie opened #253 "Executive should deal with empty waypoints"
[code]

[2016-05-13 13:06] bfalacerda commented on #253
yes it does. you want me to make this more robust, or were you expecting expected times for all possible starting waypoints?

[2016-05-13 14:21] hawesie commented on #253
This is my issue

[2016-05-13 14:22] hawesie commented on #253
I'll just assume a small default.

[2016-06-06 20:07] #253 closed, assigned to hawesie

[2016-06-06 20:08] hawesie opened #257 "extended mdp executor depends on door_pass"
Which adds a whole chain of unwanted dependencies for this package. This should be fixed someone.

[2016-06-06 20:47] hawesie opened #258 "bug in mdp executor when no action post-conditions are specified"
I tried to specify an mdp action outcome with no post-conditions (i.e. it left the state-variable unchanged) but this caused something to make PRISM upset.

[2016-06-06 21:17] bfalacerda commented on #258
can you show me how you defined the outcome and what prism told you was upsetting it?

[2016-06-06 21:50] hawesie commented on #258
https://github.com/strands-project/planning_tutorial/blob/indigo-devel/scripts/sweep_at_waypoints.py

with line 53 commented out.

[2016-06-07 06:31] bfalacerda commented on #258
is it too bad requiring you to define that, even if you define it as the same state?

[2016-06-07 07:54] bfalacerda commented on #257
The dependency comes from the door prediction service. The modelling of door states in the MDP is quite specific, and done so that it is transparent to the user. While we could abstract it a bit, that would require a lot of effort and refactoring...

Also, why is door_pass on strands_apps? This problem would be solved if it went to strands_navigation, or if we created a new repo with specialised n

[2016-06-07 08:10] hawesie commented on #258
It’s not the end of the world, but it feels ugly. I suspect this pattern (positive outcome changes state, negative does not) will reoccur in future apps.

[2016-06-07 08:12] hawesie commented on #257
It’s not just the repo location. door_pass requires things like speech and the webserver, which are essential for physically passing the door, but are unrelated to the prediction task. If we’re wanting people to use the mdp planning framework in other applications, I think this could be a bit of an issue (although perhaps this is no different from a dependency on topological navigation).

[2016-06-07 08:17] bfalacerda commented on #257
well, topo nav makes more sense at least. We could have general door models, and just ask for an action server with a specific goal message type to be available at `/door_pass` or whatever.

The prediction part would have to be independent from the door passing action server though, also assuming that the door stats have a particular type

[2016-06-07 08:22] bfalacerda commented on #258
ok, it's not too hard to solve, I'll do it on Friday if that's alright

[2016-06-07 08:38] hawesie commented on #258
There’s no rush.

[2016-06-07 09:26] Jailander commented on #257
Hi a question on a very related topic. I am working on a general tool for creating temporal models from any mongo query (or frongo), maybe we can generalise a way to define all the predictions you will need for navigation actions and  a standard prediction service you can use?
Would this make sense and make all the navigation planning framework more usable for other people?

Now my problem I'm dev

[2016-06-07 09:30] marc-hanheide commented on #257
Why not making it part of fremen repo? The released packages will remain independent. And for the repo, it doesn't hurt, does it?

[2016-06-07 09:34] Jailander commented on #257
yes I guess that would be alright since we have no metapackages in Fremen right now.

[2016-10-14 09:47] bfalacerda opened #262 "add expected action execution time to task definition"
so we stop using the max duration when generating policies.

[2016-10-14 09:48] bfalacerda opened #263 "allow for addition of MDP tasks directly to the scheduler"
provide service to add tasks defined as an MDP task already

[2016-11-17 13:57] #262 closed, assigned to hawesie

[2016-11-17 16:50] bfalacerda commented on #263
this works. Can you also do a demand cosafe task? The basket task requires on demand..

[2016-11-18 09:56] hawesie opened #271 "On-demand mdp task"

[2016-11-18 11:09] bfalacerda opened #272 "ordering of tasks"
Currently tasks to be added for execution are added by priority. For the TSC deployment, it would be better to order them by priority*p(success)/expected_time

We should keep both types of ordering available, as the current one is needed in AAF

[2016-11-20 11:22] #263 closed, assigned to hawesie

[2016-11-21 16:46] #272 closed, assigned to hawesie

[2016-11-21 16:47] #271 closed, assigned to hawesie

[2016-11-22 12:51] heuristicus opened #279 "Incorrect reference to self.daily_end in DailyRoutine"
[This](https://github.com/strands-project/strands_executive/blob/indigo-devel/task_executor/src/task_executor/task_routine.py#L179) line in particular. It's pretty rare to reach that statement, which is probably why it hasn't appeared before.

I'm trying to pretend that the day ends 5 minutes from now for some other tests, which is likely why it appeared.

[2016-11-22 14:08] #279 closed, assigned to nobody

[2016-11-23 08:24] hawesie opened #281 "executor should check travel time before opening window"
currently travel time is assumed to happen within the window.

[2016-11-23 10:43] gestom commented on #281
So what will happen if I submit a task that has start_after = 0, max_duration = 400 and end_before = 500 and the expected nav time will be 200 ? Is the task dropped ?

[2016-11-23 12:18] hawesie commented on #281
It depends on the current time. If the current time is 0 then yes, as it's impossible to get to the location and do the task in the window. If the current time is -100 then it will not get dropped.

[2016-11-23 12:19] hawesie commented on #281
(this was the case in the previous scheduler implementation too)

[2016-11-23 12:20] hawesie opened #283 "make the scheduler to stop executing a task if the current_time > task.end_before"
for https://github.com/strands-project/aaf_deployment/issues/377#issuecomment-262481142

I will make this an optional behaviour

[2016-11-23 14:26] bfalacerda opened #284 "lock issue when adding co safe tasks"
[code]

[2016-11-23 14:26] bfalacerda commented on #284
The task gets added anyway, nothing seems to break

[2016-11-24 08:35] hawesie opened #286 "Give task creator final control of gcal task"
The lines from https://github.com/strands-project/strands_executive/blob/indigo-devel/gcal_routine/src/gcal_routine/tools.py#L185 onwards mean that the task creator code does not get final say over the task creation. How about the factory gets sent yaml plus a partially instantiated task and then it does the final edits to the task? (not an urgent thing!)

[2016-11-24 10:47] marc-hanheide commented on #286
Can we make it so that the gcal_routine sets the missing values IF the factory didn't set them, ie. if for instance `start_after` is zero etc.?

[2016-11-24 19:47] gestom commented on #281
Would it be possible to have another task parameter called 'min_duration', which, if set to a nonzero value, would be used instead of max_duration for this window check?

[2016-11-25 09:18] #281 closed, assigned to hawesie

[2016-11-25 09:18] #284 closed, assigned to hawesie

[2016-11-26 11:55] bfalacerda commented on #170
this is tackled in #288

[2016-11-26 11:55] #170 closed, assigned to bfalacerda

[2016-11-26 11:55] #251 closed, assigned to bfalacerda

[2016-11-26 12:01] #216 closed, assigned to nobody

[2016-12-02 17:10] heuristicus opened #293 "scipoptsuite fails catkin build without catkin clean first"
[code]

[2016-12-13 12:27] hawesie opened #294 "drop probability 0 tasks"

[2017-08-04 09:21] #286 closed, assigned to marc-hanheide

[2018-11-16 13:03] marc-hanheide opened #307 "several issues using the correct executor"
@francescodelduchetto and I are a bit lost what the "correct" executor/scheduler would be to use for our museum case.

The problem: We have so far tried to use https://github.com/strands-project/strands_executive/blob/kinetic-devel/task_executor/launch/task-scheduler-top.launch as a simple scheduler. However, that one seems to be deprecated, and lacking recent features (e.g. time critical tasks).

[2018-11-16 13:13] hawesie commented on #307
Hmm... we run this basic launch file all the time with no problems. If you want no adaptation then take out fremen from top nap and add the following instead:
[code]

[2018-11-16 13:14] hawesie commented on #307
So, assuming you're running this launch file, what's going wrong?

[2018-11-16 14:29] marc-hanheide commented on #307
for starters, we are not sure which task_executor to actually launch ;-) So, if you could tell us which one to use, then we say what's not working with it. @francescodelduchetto can say more about it, I'm sure, but if I recall, launching the MDP one the first hurdle was that it requested some door config...

[2018-11-16 15:35] hawesie commented on #307
Run `mdp-executor.launch` which is the MDP one. The door config defaults to empty which works just fine normally.

[2018-11-16 16:19] francescodelduchetto commented on #307
Yes, the `mdp-executor.launch` seems to work fine also for us.

I just tested it and got this error/warning fo the doors
[code]
and yet it seems to schedule and start demanded tasks properly.

[2018-11-16 16:26] hawesie commented on #307
Yep, it's a bit cryptic, but ` Using default values for all doors` looks good.

[2018-11-16 16:55] marc-hanheide commented on #307
Hooray, sorry for bothering you @hawesie I thought we tried that one and it wouldn't run anything... So, that's the recommended one. Perfect. Thanks.

[2018-11-19 14:18] marc-hanheide commented on #307
We are still struggling with it, sorry. Whenever we submit a task, it ends with "Adding Doors" and then hangs, and also other services we call never return. There is an `explicit_doors` flag that is true in this setup, but I don't quite understand all the stuff it does. I would feel more comfortable if we could turn it off. But @hawesie said it shouldn't have any impact as long as the file isn't f

[2018-11-19 15:51] francescodelduchetto commented on #307
The mdp executor actually remains hung every time here: https://github.com/strands-project/strands_executive/blob/d3b5699e43f32a5d300dbf10c06a4b2aa3fd2356/task_executor/scripts/mdp_task_executor.py#L557
that service call never returns. It's odd how it sometimes works (like 3 days ago) and others not. Any idea on why this is happening?

[2018-11-19 17:29] hawesie commented on #307
Could it be that Fremen is crashing and not providing predictions? Sorry away from computer so can't look in detail right now

[2018-11-19 17:43] bfalacerda commented on #307
If you don't have the door_prediction service at ``/door_prediction/predict_doors`` running then this will hang. I just checked the code and it needs  to be changed to allow you to change the `explicit_doors` flag to false. Currently you'd need to edit code to change the flag - my bad, this was done during deployment I think. I'll update in 1 hour or so.

[2018-11-19 19:03] marc-hanheide commented on #307
Thanks, @bfalacerda that was our suspicion. Still a bit of a mystery that it looked as if it worked before, but I suspect that was just not running the correct version or something.

[2018-11-19 19:39] bfalacerda commented on #307
I just noticed that it should work. You should get the following warning:

[code]
when the door prediction is called, but it shouldn't hang. Maybe it's the edge prediction that died, as @hawesie suggested?

[2018-11-19 19:47] bfalacerda commented on #307
That might explain it working before. Sometimes a new (corrupted) nav_stat makes some fremen prediction node die. When that happens the prediction service remains available, so the executor can call it, but then it hangs there, because it doesn't get a response.

If these prediction services (for edges and doors) aren't provided at all, the executor will spit out warning but it will *not* hang (co

[2018-11-19 20:21] marc-hanheide commented on #307
I tried the edge prediction and it responded... as it should. But I agree, let's cut another unreliable piece out of the equation. @hawesie already mentions this:
[code]

Is that the only thing to start? Do I start it in addition or instead of what?

Instead of this:
https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/launch/topological_navigation.launch#

[2018-11-19 20:32] francescodelduchetto commented on #307
@marc-hanheide did you tried edge prediction on your notebook or on the robot? Because on the robot is not working. I will describe here what happens given I don't know too much abotu fremen. This is what happen on the robot:
1. fremenserver dies and restart every time it is called, log:
[code]
2.  `/topological_prediction/edge_entropies` seem to work and returns but causes the following error:
[c

[2018-11-19 20:58] marc-hanheide commented on #307
Hah! I checked it on the robot, but I probably checked the wrong one! I hate it when @hawesie is correct ;-) OK, then fremen appears to be the problem indeed. We should cut it out for now. Maybe @Jailander can help with this then. Indeed, we should for now _not_ use fremen, but try the solution @hawesie mentioned [above](https://github.com/strands-project/strands_executive/issues/307#issuecomment-

[2018-11-19 21:02] bfalacerda commented on #307
@marc-hanheide it can deal with topo map changes, it subscribes to /topological_map and updates the MDP when something is published there. we needed this for AAF if I remember correctly.

[2018-11-19 21:03] Jailander commented on #307
Hi I just saw this, will take a look tomorrow, it could be a problem on the stats, it looks like there is something weird there

[2018-11-19 21:14] francescodelduchetto commented on #307
@marc-hanheide The errors happen also with the upstream code without my modifications, so it is not caused by that. But, indeed what I added may still cause other problems to fremen (for example I can imagine that some of the estimates will be wrong when some nodes are banned).

[2018-11-19 21:23] francescodelduchetto commented on #307
And my modification now does not change the topological map, it just ignores the banned nodes when planning the topological path. However, if fremen supports changes in the map it may be worth modifying the map online? So that the predictions and statistics should be more accurate...right?

[2018-11-19 21:50] hawesie commented on #307
If you want certain nodes not to be traversed during task execution then those should be part of the task. That's exactly what our planning system is built for. We may need to extend the interface a bit, but our task specification language supports nice exclusions naturally.

We also built blacklisting into the routine node due to some annoyed office workers.

[2018-11-20 09:53] francescodelduchetto commented on #307
@hawesie that's awesome, I was trying to reinvent the wheel then. Is there some documentation on how to exclude and blacklist nodes?

[2018-11-20 09:58] hawesie commented on #307
@francescodelduchetto currently excluding tasks is only possible if you use LTL tasks directly, which may not be convenient for you. We can find a way to make it easy though, e.g. by you providing a service which lists excluded nodes. The blacklisting is only available if you manage tasks by the routine (https://github.com/strands-project/strands_executive_behaviours/blob/hydro-devel/routine_behav

[2018-11-20 10:59] Jailander commented on #307
Hi @francescodelduchetto @marc-hanheide , the problem is that the Fremen server crashes every time, I will take a look at it but hope @gestom sees this message too ;)

[2018-11-20 11:21] bfalacerda commented on #307
From our experience there can be issues when building the edge models and a corrupted nav stat is found. I don't know what it makes it corrupted, we usually just look at the stuff printed by the node to figure out which edge has caused the problem and remove that entry from the db.

[2018-11-20 11:25] Jailander commented on #307
@bfalacerda man you are good, how did you know I was just going to find that out? @francescodelduchetto there are two broken stats for edges `"edge_id":"WayPoint18_WayPoint19"` `"edge_id":"WayPoint16_WayPoint18"` deleting those fixes the issue.
I will look for a more permanent solution anyway.

[2018-11-20 11:26] francescodelduchetto commented on #307
So, removing fremen from topological nav and using `speed_based_prediction`, as @hawesie suggested, works fine.

Regarding the `mdp-executor`, I notice that it restarts a task as soon as it is cancelled. The only way to cancel it definitely is to call clear schedule. Is that the expected behavior? How do I stop a task that is currently executing without clearing all the schedule?

[2018-11-20 13:31] francescodelduchetto commented on #307
No I am sorry, ignore the previous comment. I was testing on an old branch (1.0.6) of `strands_executive`.

[2018-11-20 15:37] francescodelduchetto commented on #307
Another thing: what if we want to demand a task to be started on the spot without going to any topological node? Using `scheduled_task_executor` that was the default behavior when no start_node_id was provided, with `mdp-executor` instead the robot goes first to the closes top node.

[2018-11-20 17:26] hawesie commented on #307
Hmmm... I think we'd need to check the code there. @bfalacerda any reason why this shouldn't work? Is there a way to create an LTL task without navigation?

[2018-11-20 17:38] bfalacerda commented on #307
not currently, the behaviour now is moving to the closest waypoint. I could also make that a parameter if you need it @francescodelduchetto .

[2018-11-20 18:06] francescodelduchetto commented on #307
Yes @bfalacerda, that would be really useful for us :)

[2018-11-20 18:47] bfalacerda commented on #307
ok, I'll make a PR tomorrow afternoon that includes this and allows for ignoring doors.

[2018-11-21 15:19] bfalacerda commented on #307
please check #308 . You should run ``roslaunch task_executor mdp-executor.launch combined_sort:=true explicit_doors:=false nav_before_action_exec:=false`` to get the behaviour you want.

Let me know if this is what you need.

[2018-11-22 12:22] francescodelduchetto commented on #307
@bfalacerda your pull-req solves our problem. Thank you

[2018-11-22 12:38] francescodelduchetto commented on #307
Another thing I notice by using the MDP navigation is that: sometimes the path choosen are not seemingly optimal (taking long paths to reach the goal) and sometimes the robot loops between 3 nodes without reaching the goal.
Here is the logs during looping:
[code]

[2018-11-22 12:45] bfalacerda commented on #307
The planner is using the straight line distance between nodes  as the cost function to minimise.

Can you paste a screenshot of the topological map?

[2018-11-22 13:10] francescodelduchetto commented on #307
This is the entire topological map
![image](https://user-images.githubusercontent.com/7307164/48904845-a73a9580-ee57-11e8-96f5-7e442fea3392.png)

This is the focus on the waypoints 16, 17 and 18 where the robot was looping
![image](https://user-images.githubusercontent.com/7307164/48904924-fa144d00-ee57-11e8-9c5b-1a7ec7984643.png)

[2018-11-22 13:13] bfalacerda commented on #307
The MDP planner assumes that two nodes are connected in the topological map iff the robot can navigate between the two nodes *without* visiting any other node. You have many edges here that don't satisfy this property

[2018-11-22 13:48] marc-hanheide commented on #307
Oh, yes, @francescodelduchetto those edges should be removed.

[2018-11-22 13:49] francescodelduchetto commented on #307
Ok, I cleaned some edges. Does it looks good to you?
![image](https://user-images.githubusercontent.com/7307164/48906543-ba039900-ee5c-11e8-9d94-905fa4e60f0a.png)

I will let you know if the looping still happens

[2018-11-22 13:50] bfalacerda commented on #307
yes, it looks good.

[2018-11-22 13:52] Jailander commented on #307
@francescodelduchetto don't forget to delete the `nav_stats` collection. Or we will be back at the beginning ;)

[2018-11-22 13:53] Jailander commented on #307
Also just out of curiosity what action is that red edge to the right?

[2018-11-22 13:58] francescodelduchetto commented on #307
@Jailander oh nothing is just that I didn't assigned any action to that, but now it is black as the rest;) Strangely I didn't get any error from fremen without removing the nav stats...

[2018-11-22 14:04] Jailander commented on #307
Ok, but you should remove them just to be safe. You can do it from `robomongo` or you can do it from terminal as follows:
* Open mongo terminal: `mongo --pot 62345`
* In mongo terminal send the following instructions:
  - `use message_store`
  - `db.nav_stats.drop()`
  - `exit`

[2019-01-07 15:46] francescodelduchetto commented on #307
Hi @hawesie, I just deployed on the robot the last version of `strands_executive` with the node blacklisting and I noticed that the feature of starting a task without going to the closest node, introduced in [#308](https://github.com/strands-project/strands_executive/pull/308) by @bfalacerda, disappeared!

I tried passing `nav_before_action_exec=false` but it seems the parameter is not read anymor

[2019-01-07 20:31] hawesie commented on #307
Yikes, I must have merged badly. I’ll look into this later this week.

[2019-01-24 08:49] hawesie commented on #307
@bfalacerda is the above parameter needed with your updated code? I notice that this line looks similar in purpose to the old parameter https://github.com/strands-project/strands_executive/blob/kinetic-devel/mdp_plan_exec/scripts/mdp_robot_policy_executor.py#L97

[2019-01-24 10:45] bfalacerda commented on #307
I don't see any old parameter on that link, is it correct?

[2019-01-24 10:54] hawesie commented on #307
This is the old one: https://github.com/strands-project/strands_executive/blob/deprecated-kinetic-devel/mdp_plan_exec/scripts/mdp_policy_executor_extended.py#L38

[2019-01-24 11:04] bfalacerda commented on #307
But the line you linked first is just me setting the server as aborted when there is no policy, was that what you intended to link?

Looking at the code, I think it's needed: https://github.com/strands-project/strands_executive/blob/kinetic-devel/mdp_plan_exec/scripts/mdp_robot_policy_executor.py#L101

The boolean variable linked above ensures the robot does a navigation action before it executes

[2019-01-24 15:05] hawesie commented on #307
But what does `starting_exec` do? That looks related to me, and wasn't present in the old code.

[2019-01-24 17:20] bfalacerda commented on #307
it ensures ensures the robot does a navigation action before it executes any other action, i.e., exactly the opposite of what is intended. I don't understand exactly what is old and what is new code. The most up to date code in terms of the logic for navigating (or not) before executing an action is the one in https://github.com/strands-project/strands_executive/blob/deprecated-kinetic-devel/mdp_p

[2019-01-24 17:21] bfalacerda commented on #307
I didnt merge the param thing to the fork we were using, that might be why this is confusing.

[2019-01-25 12:26] hawesie commented on #307
I'm a bit lost. Let's chat in person.

[2019-07-05 17:24] #158 closed, assigned to nobody

[2019-07-05 17:25] #164 closed, assigned to nobody

[2019-07-05 17:25] #166 closed, assigned to nobody

[2019-07-05 17:25] #171 closed, assigned to mudrole1

[2019-07-05 17:26] #202 closed, assigned to nobody

[2019-07-05 17:27] #203 closed, assigned to hawesie

[2019-07-05 17:27] #205 closed, assigned to nobody

[2019-07-05 17:27] #207 closed, assigned to mudrole1

[2019-07-05 17:28] #210 closed, assigned to nobody

[2019-07-05 17:28] #213 closed, assigned to mudrole1

[2019-07-05 17:28] #218 closed, assigned to nobody

[2019-07-05 17:29] #220 closed, assigned to nobody

[2019-07-05 17:30] #223 closed, assigned to hawesie

[2019-07-05 17:30] #224 closed, assigned to hawesie

[2019-07-05 17:30] #243 closed, assigned to nobody

[2019-07-05 17:30] #258 closed, assigned to bfalacerda

[2019-07-05 17:30] #283 closed, assigned to hawesie

[2019-07-05 17:30] #293 closed, assigned to nobody

[2019-07-05 17:30] #294 closed, assigned to hawesie

[2019-07-05 17:31] #7 closed, assigned to nobody

[2019-07-05 17:31] #19 closed, assigned to Jailander

[2019-07-05 17:31] #33 closed, assigned to nobody

[2019-07-05 17:31] #41 closed, assigned to nobody

[2019-07-05 17:31] #44 closed, assigned to nobody

[2019-07-05 17:31] #47 closed, assigned to nobody

[2019-07-05 17:31] #61 closed, assigned to nobody

[2019-07-05 17:31] #78 closed, assigned to hawesie

[2019-07-05 17:31] #79 closed, assigned to nobody

[2019-07-05 17:31] #80 closed, assigned to mudrole1

[2019-07-05 17:31] #123 closed, assigned to nobody

[2019-07-05 17:33] bfalacerda opened #316 "task executor not getting correct expected times from mdp"
this if condition seems to change the value given by the MDP:

https://github.com/strands-project/strands_executive/blob/kinetic-devel/task_executor/scripts/mdp_task_executor.py#L865

[2019-09-13 15:55] hawesie commented on #316
That code is just grim. It doesn't do what I think it was supposed to. Or perhaps it does what it's supposed to do, but breaks other things.

[2019-09-13 15:58] hawesie commented on #316
The fix is to just remove it I think

[2019-09-13 15:59] bfalacerda commented on #316
i commented it out and it worked fine, so i agree with removing it

[2019-09-13 16:07] hawesie opened #318 "Handle tasks overrunning end of execution window"
All normal tasks have a end_time set which indicates when they should be completed by. The current state of the mdp executor means that during execution a task could run over its end time. Nothing cancels the task in this case. The code removed to fix #316 removed something that was supposed to do this but didn't really work. If we want this behaviour we should add it back in using a different mec

[2019-09-13 16:10] hawesie commented on #307
@francescodelduchetto is this still an open issue for you? We haven't provided any kind of fix, but before I start trying to puzzle through the messages I wanted to check you still cared.

[2019-09-13 18:31] francescodelduchetto commented on #307
Hi @hawesie, yes it is still an open issue. We are using my fork of this repo for the robot now, but I guess it would be nice if we can return to the upstream one

[2019-09-13 18:37] francescodelduchetto commented on #307
I guess that the main problem and the reason I started to use my fork is what described in here https://github.com/strands-project/strands_executive/issues/307#issuecomment-451978391 .

[2019-09-13 18:42] francescodelduchetto commented on #307
The `nav_before_action_exec` feature was implemented by @bfalacerda in https://github.com/bfalacerda/strands_executive/blob/a8e8ce2483680bb4417c560e90f82157876ac363/mdp_plan_exec/scripts/mdp_policy_executor_extended.py but then disappeared when the script was replaced by https://github.com/strands-project/strands_executive/blob/kinetic-devel/mdp_plan_exec/scripts/mdp_robot_policy_executor.py

[2019-09-16 08:07] hawesie commented on #307
Thanks, that's super useful. So the task for me is to put back the `nav_before_action_exec` option?

[2019-09-16 08:17] #316 closed, assigned to hawesie

[2019-09-16 09:47] francescodelduchetto commented on #307
Yes, I think so. Thank you!

[2019-09-17 15:33] hawesie commented on #307
Ok, @bfalacerda is now in charge of this. It's quite a hard thing to change directly, so this probably won't happen immediately.

[2019-09-25 16:36] bfalacerda commented on #307
@francescodelduchetto please check #319. Should be back to the behaviour you asked for.

[2019-09-25 16:36] #146 closed, assigned to mudrole1

[2019-09-25 16:37] bfalacerda commented on #154
this is done

[2019-09-25 16:37] #154 closed, assigned to bfalacerda

[2020-02-13 11:59] marc-hanheide opened #320 "melodic release"
has anyone tried to build and use this on `melodic` yet? Just wondering before I start reinventing the wheel...

[2020-02-13 12:14] hawesie commented on #320
Yes, I built and used this on melodic/18.04 just this morning. All seemed fine.

[2020-02-13 19:42] marc-hanheide commented on #320
Released in https://github.com/LCAS/rosdistro/pull/429

[2020-02-13 19:42] #320 closed, assigned to hawesie, bfalacerda

[2022-02-15 19:33] EliosSs opened #321 "Scheduler is working for the ROS Kinetic branch?"
Hey to all. I hope you are well.

I was looking at the strands executive project but I noticed that for kinetic branch the "scheduler" folder is missing.
MILP scheduler is not implemented for kinetic? or maybe it was embedded in other node?

[2022-02-16 08:40] hawesie commented on #321
We replaced the MILP scheduler with an MDP-based one in the second version of the system: https://github.com/strands-project/strands_executive/blob/kinetic-devel/task_executor/scripts/mdp_task_executor.py

There are some tutorial examples for some of the planning parts of the system here: https://github.com/strands-project/planning_tutorial/tree/indigo-devel

[2022-02-16 12:04] EliosSs commented on #321
ehhh ok k I will check that along with the tutorials, thanks!
But I am seeing that in the kinetic branch is a call to the service "get_schedule" which is the one that performs the task scheduling. I see that this service is declared in the indigo-devel branch but I can't find this "get_schedule" service in any place at kinetic branch.
Do you have maybe a clue or  any tip on this?

[2022-02-16 12:34] hawesie commented on #321
That call is in a node we stopped using a long time ago, sorry.

[2022-02-16 13:23] EliosSs commented on #321
ok ok thanks very much Nick! I will check that information in order to know what is the call the scheduler now.

[2022-02-16 13:25] #321 closed, assigned to nobody

[2022-02-16 20:17] EliosSs commented on #321
Hey again Nick. I was checking the code and the tutorial you just send me. Actually I have more doubts about it. Can I ask here just with the closed issue? or maybe I need to open a new one?

Best regards and thank you a lot for your help.

[2022-02-16 22:46] EliosSs commented on #321
Well I think I can ask some of the doubts that I have over here. I can create another issue if those cannot be here.
1. (maybe a noobie question) You send me the link of the "mdp_task_executor.py" file from task executor package. But checking the file and the whole package I just realized that there is not any node registered in the CMakeLists.txt file. it is any reason for this? Maybe this is noo

[2022-02-17 08:28] hawesie commented on #321
1. `CMakeLists.txt` is used for building/installing things, and mostly on the C++ side. Since the node is Python it doesn't need to be built.
2. I'd suggest following the tutorial from the other link I provided. I think we ran that in melodic.
3. If you don't follow the tutorial, then you could try this: https://github.com/strands-project/strands_executive/blob/kinetic-devel/README.md This mention

[2022-02-17 12:17] EliosSs commented on #321
Ehhh yeah as python files are just scripts but it is not necessary to list the .py files inside the CMake file in order to recognize the ROS nodes? ahmmmm I didn't know that, thanks.

Ahmmm yeah I am trying to follow the planing_tutorial package that you sent to me.
But when I run the catkin_make command I receive this error:

[code]

  For that is my 3rd doubt. It should not be an automatic depen

[2022-02-17 14:26] hawesie commented on #321
Those packages are not in the main ROS repo so are not automatically provided. Therefore you need to clone the strands-executive repo into your catkin ws. You used to provide pre-built packages (some info here: https://github.com/strands-project/planning_tutorial/blob/master/doc/tutorial_prep.md), but I don't think we did that for melodic.

[2022-02-21 20:02] EliosSs commented on #321
oh ok ok Nick. Thanks very much for your answer.
I have another question left. There is any documentation that I could learn to understand a little more about "ltl" and the conversions between "mdpDomainspec" and "mdp_tasks"?

[2022-02-22 07:38] hawesie commented on #321
I'd suggest starting with one of our videos, e.g. https://www.youtube.com/watch?v=axUmQNDcsT8 describing the work in https://www.robots.ox.ac.uk/~nickh/papers/LacerdaIJRR.pdf

[2022-03-17 23:19] EliosSs opened #322 "How do you deactivate the tasks that were successfully completed?"
### How do you deactivate the tasks that were successfully completed in a batch?

I was checking the code of the MDP task executor, specifically the file _**mdp_task_executor.py**_ in the _**kinetic-devel**_ branch.

in the function: `    def mdp_exec(self):` defined in line 954, we have the main loop for the executor, where you take the task batch from the queue and you send it to the action serv